{% extends "base.html" %}
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Cachorro</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Lealdade</h4><img class="img-fluid" src="{{ url_for('static', filename='img/614031.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Lealdade, amor incondicional, inteligência.<br><br>&nbsp; &nbsp; O cão é um protetor leal que estará sempre pronto a dar sua vida para salvar aqueles que ama. Leal não<br>somente
                                às pessoas, mas também aos seus ideais, ao que ele acredita ser verdade. Essa ideia é tão forte que existe o ditado: O melhor amigo do homem é o cão. Esse é o totem da amizade, pois essa é a base em que se constrói um relacionamento
                                duradouro e verdadeiro, a lealdade. Aí está a grande diferença entre coleguismo<br>e amizade, amigos compartilham ideais, colegas dividem cervejas. Aí está a diferença entre um casamento por amor e uma junção feita no calor
                                da paixão, no casamento divide-se o ideal da família, do companheirismo, a paixão oferece apenas o fogo efêmero do gozo egoísta de dois solitários que se uniram sem a menor noção do se que significa a lealdade.<br><br><em>&nbsp; &nbsp;&nbsp;</em>Foi
                                o primeiro totem a se manifestar no caminho. Em uma reunião um integrante entrou no Estado do Vento e viu o seu corpo coberto com pelos, tocou em seu rosto e o sentiu diferente, percebeu-se metamorfoseado em seu totem,
                                então ouviu uma voz que disse: Eu te dei esse totem para que você se tornasse o protetor de sua família.<br><br>&nbsp; &nbsp; Um ano depois outro membro também entra no Estado e vê seu filho de cinco anos sendo atormentado
                                por um espírito baixo, logo ele se vê no totem, com dentes caninos grandes e rosnando contra seu oponente, percebe então a importância de proteger espiritualmente seu filho.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}