{% extends "base.html" %}
{% block content %}
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Golfinho</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Guerreiro da Água</h4><img class="img-fluid" src="{{ url_for('static', filename='img/02193634157523.jpg')}}" style="width: 495px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Amor, a salvação, a proteção, a harmonia, a liberdade, a alegria, a prudência, intuição.<br><br>&nbsp; &nbsp; A guerra nas regiões espirituais se dá nos quatro elementos, e em todos
                                esses elementos temos símbolos que nos ajudam, seres que nos orientam em nossas atitudes em tempos difíceis. No elemento água um dos principais símbolos é o golfinho. Na arte grega os homens aparecem montados em golfinhos.
                                Eles se equivalem aos cavalos de guerra, porém, dos mares e também rios.<br><br>&nbsp; &nbsp; O elemento água simboliza a mente, sua fluidez, sua inconstância, sua necessidade de forma, logo, necessidade de contenção ou
                                direção. A principal característica de uma mente que adquiriu a reta direção é a orientação precisa. Alguém que sabe de onde veio e a firme convicção de para onde vai. Esse animal de poder simboliza a mente corretamente
                                orientada, portanto, um guia das almas.<br><br>&nbsp; &nbsp; Quando o golfinho surge nos sonhos simboliza a salvação, a libertação, a transformação, a harmonia e a leveza e a alegria associadas à esse processo. Não obstante,
                                o golfinho trata-se de um animal “psicopompo”, do grego “<em>psychopompós</em>”, união dos termos “<em>psyché</em>” (alma) e “<em>pompós</em>” (guia), ou seja, aquele que serve de guia e, portanto, quando aparece nos sonhos
                                mostra o caminho da luz para o sonhador trazendo sorte e paz na caminhada.<br><br>&nbsp; &nbsp; O golfinho é o orientador de líderes e mestres da nova era. Ele conduz o discípulo ao retorno às águas, o conduz à nossa origem.
                                Éramos cidadãos tanto das águas quanto da terra, precisamos voltar e fazer as pazes com a água, esse é o totem do retorno.<br><br>&nbsp; &nbsp; Essa preparação, no entanto, só ocorre com aqueles que estão no nível de transformação,
                                aqueles que estão prontos para o despertar. Estes concluirão o percurso do rio e alcançarão o grande oceano da mente coletiva.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>
   
{% endblock %}