{% extends "base.html" %}
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Beija-flor</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Bem estar<br></h4><img class="img-fluid" src="{{ url_for('static', filename='img/Características-do-Beija-flor.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Mensageiro da cura, ternura, alegria.<br><br>&nbsp; &nbsp; A organização, a higiene e a tranqüilidade estão diretamente ligadas a esse totem. Quando pensamos em cura, pode vir à
                                mente algum tipo de milagre, uma interferência divina, mas não refletimos que nossa atitude diária pode ser crucial para a cura. Uma mente elevada está em um corpo limpo, um dia útil é produto de uma mente organizada. A
                                limpeza, a organização realiza o bem estar.<br><br>&nbsp; &nbsp; O beija-flor fala de uma mente que está em paz. Alguém que está em paz consigo mesmo e com o mundo, alguém que se alimenta do néctar da vida, alimentos saudáveis,
                                alguém que se vê belo, pois tem um viver leve. Esse é o totem de pessoas descomplicadas, organizadas e limpas. <br><br>&nbsp; &nbsp; Então estamos falando de coerência, se digo que alcancei um bem estar na vida o meu cotidiano
                                deve estar coerente com a fala, pois um viver desequilibrado resulta em dores e enfermidades. Quando você vai ao médico e sente um hálito de cigarro, ou ele está muito acima de um peso saudável com certeza não será uma
                                consulta agradável. Algumas pessoas que vivem assim muitas vezes precisam de um exemplo de vida para o incentivo da mudança e nesse ponto o beija-flor traz a cura através de seu exemplo de vida, ele não fala do milagre
                                de andar sobre as águas, de cegos verem e surdos ouvirem, fala do milagre de viver, da boa qualidade da vida.<br><br>&nbsp; &nbsp; A pessoa que aprende com esse totem a viver de maneira saudável se torna uma cura a muitos
                                enfermos de alma e consequentemente de corpo, pois não se separa o corpo da alma quando se fala de saúde. O exemplo do toteado pelo beija flor inspira a muitos a uma mente sana e um viver feliz.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}