{% extends "base.html" %}
<title> {% block title %}Totem cordeiro - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Cordeiro</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">O puro</h4><img class="img-fluid" src="assets/img/thumb2-lamb-sheep-little-sheep-field-evening.jpg" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left">&nbsp; &nbsp; Compreender esse totem é fácil, difícil é aceitar a sua mensagem, porque ele fala de perfeição, um estado de consciência que quase todos afirmam ser inalcançável, e muitos que afirmaram alcançar se mostram loucos,
                                até mesmo psicopatas.<br><br>&nbsp; &nbsp; Na verdade criamos desculpas para não nos aperfeiçoarmos, pois isso significa abrir mão do conforto, criamos frases como “pau que nasce torto morre torto”, essa ideia é mais uma
                                desculpa para não mudar a vida, porque mudar dói, é desconfortável, é tão difícil que até muitas das abordagens da psicologia não crêem em mudanças, mas em adaptações, e com isso nega-se o único e verdadeiro motivo de estarmos
                                aqui.<br><br>&nbsp; &nbsp; O cordeiro simboliza o resultado de nosso crescimento, de nossa luta, de nossa evolução. Podemos mudar as nossas vidas, o nosso caráter, podemos chegar à perfeição. O cordeiro é a soma de todos
                                os outros totens.<br><br>&nbsp; &nbsp; O branco desse animal de poder é o símbolo da pureza, ou seja, de não estar contaminado com a podridão desse mundo, porém não basta ser branco é importante que não tenha nenhuma mancha,
                                por menor que seja, precisa ser imaculado, precisa ser perfeito. Não estamos falando de anjinhos no céu e sim, de homens e mulheres aqui, nesse planeta de imperfeição e dor.<br><br>&nbsp; &nbsp; Aperfeiçoamo-nos por áreas,
                                e isso é algo difícil de entender para muitos, mas quando compreendido fica mais fácil de caminhar sem sentimentos desagradáveis como a culpa e o receio. Também é importante saber que cada área tem o seu nível de mudança,
                                podemos ter mudado 15% de nosso egoísmo e 90% de nossa desorganização. Pensamos: como fulano pode ser tão prestativo pra umas coisas e egoístas pra outra? As manchas no cordeiro são as áreas que ainda não foram trabalhadas
                                no caráter. A consciência de vida ainda não está totalmente elaborada.<br><br>&nbsp; &nbsp; O cordeiro é o nosso destino, o fim da jornada, nosso ponto de repouso. ‘Sede perfeitos como vosso Pai que está no céu é perfeito’
                                essa é uma ordem do Cristo.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>

{% endblock %}