{% extends "base.html" %}
<title> {% block title %}Totem coruja - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Coruja</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Sabedoria</h4><img class="img-fluid" src="{{ url_for('static', filename='img/coruja.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Mistério, habilidades ocultas, sabedoria e magia.<br><br>&nbsp; &nbsp; Ela pode ver o que não vemos. Ela é conhecida como a águia noturna nas rodas medicinais nativas. Evocar quando
                                quiser conhecer as áreas inexploradas da consciência. Possui poderes psíquicos e pede para observarmos melhor e prestar mais atenção.<br><br>&nbsp; &nbsp; Coruja, o olha da lua, esse é o totem da Minerva, a deusa da sabedoria
                                e por isso símbolo da filosofia, mas Minerva também é a deusa da estratégia militar, ela aconselhava e orientava os guerreiros humanos ou divinos em momentos críticos, e nessas horas a coruja estava em seu ombro. Essa ave
                                também toteou Aníbal Barca em suas inúmeras batalhas. Com uma excelente estratégia o pequeno vence exércitos. <br><br>&nbsp; &nbsp; A coruja porta as respostas dos enigmas que obscurecem o destino do homem, o toteado pela
                                coruja está apto a desvelá-los. Os mistérios que ela desvenda têm haver com o sentido da vida, o caminhar da humanidade, o coração do homem, por isso, ela é a conselheira de generais, orientadora de líderes. Sua sabedoria
                                é a arma de<br>combate direta contra a astúcia, o bem contra o mal, a Vida contra a Ilusão.<br><br>&nbsp; &nbsp; A sabedoria vem do alto e por isso mesmo, somente quem tem fez a sua conexão com o Elevado, somente quem liberou
                                o chakra coronário se torna sábio, e liberar tal energia significa que nada no sistema desse mundo pode seduzir o liberado.<br><br>&nbsp; &nbsp; Sem sabedoria não se vence a guerra e sem a vitória não há paz. Sem sabedoria
                                não se desfaz a ilusão e com ilusão não há vida. Sem sabedoria a loucura se estabelece e a paixão se assenta no trono das emoções e é exatamente por isso, que sem a sabedoria não há amor. <br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}