{% extends "base.html" %}
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Urso</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Interiorização<br></h4><img class="img-fluid" src="{{ url_for('static', filename='img/urso.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Introspecção, despertar da inconsciência, força interior, resolução.<br><br>&nbsp; &nbsp; O urso viaja nos caminhos espirituais do guerreiro. Indica o caminho da cura física em
                                um sentido amplo que envolve além do seu corpo físico, a sua prosperidade. É também o portal de introspecção, do subconsciente, a quietude, o silêncio da alma que é necessário na vida.<br><br>&nbsp; &nbsp; O inverno é nosso
                                inconsciente, o que não queremos ver, não queremos saber, o que guardamos a sete chaves por vergonha, medo ou culpa. Ao longo das encarnações acumulamos informações e sentimentos no inconsciente que precisam um dia serem
                                encarados.<br><br>&nbsp; &nbsp; O urso hibernado é o homem que dorme para a vida, escondido comodamente em sua caverna, ‘não me acorde é o seu lema’. Ele não entendeu que até nos momento gélidos da vida é possível ser feliz.
                                Quando o urso acorda junto à primavera esse é o símbolo do despertar, porém é necessário cuidado e atenção para não retornar à caverna fazendo disso um ciclo vicioso.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}