{% extends "base.html" %}
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Qrub</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Guerreiro do Fogo</h4><img class="img-fluid" src="{{ url_for('static', filename='img/cherub 2.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left">&nbsp; &nbsp; "No meio, vi o que me pareciam quatro animais, as suas formas eram similar a de homem."<br><a href="https://www.bibliaonline.com.br/tnv/ez/1/5">Ezequiel 1:5</a><br><br>&nbsp; &nbsp; Uma das primeiras citações
                                bíblicas sobre totem (apesar dessa expressão não ser usada). Em meio a nuvens<br>de fogo, quatro seres em forma humanóide, cada um tinha quatro faces, o touro, o homem, a águia e o leão. Em outro momento Ezequiel descreve
                                um Qrub apenas na junção do homem e do leão. <br><br><em>&nbsp; &nbsp; "E foi feito com Qrubin, e cada Qrub tinha dois rostos,&nbsp;A saber: um rosto de homem e um rosto de leãozinho."</em><br><a href="https://www.bibliaonline.com.br/acf/ez/41/18,19">Ezequiel 41:18,19</a>                                <br><br>&nbsp; &nbsp; Um Qrub não é um anjo de cabelo loiro, cacheados com cara de europeu inocente, é uma criatura de poder, que impõe medo a quem o olhe, e essa criatura se assemelha a animais em forma humanóide, assim
                                está escrito. Sempre haverá em sua forma a presença de no mínimo três seres, o homem, o leão e a águia ou pelo menos as suas asas.<br><br>&nbsp; &nbsp; Este é o totem de supremo poder, o leão. Ele traz a vitória final,
                                a conclusão da guerra, a consumação no fogo, em outras palavras a iluminação. Este é o símbolo da elevação suprema do ser na desidentificação com o mundo. Coloco aqui o Qrub apenas com o totem do leão. A imagem deste animal
                                diz por si só de sua majestade. O toteado sobe ao trono e assume sua identidade real. O menino se torna homem.<br><br>&nbsp; &nbsp; A águia é o Qrub do ar, o leão é o da terra e no trono é o homem, eles estão &nbsp;logo
                                abaixo de Deus, que se assenta acima dos Qerubim.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}