{% extends "base.html" %}
<title> {% block title %}Totem serpente - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Serpente</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Astúcia</h4><img class="img-fluid" src="{{ url_for('static', filename='img/Snakes_Closeup_Vipera_berus_Light_Blue_Tongue_524391_1366x768.jpg')}}" style="width: 519px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left">&nbsp; &nbsp; Esse é um totem controverso visto que para algumas culturas simboliza o mal, satanás ou os reptilianos, enquanto que para outras é um ícone da sabedoria, da força vital, da renovação, para mim a serpente reflete
                                a astúcia, uma característica que em si não configura bem ou mal. Satanás foi simbolizado pela cobra no livro de Gênesis por causa de suas palavras astutas e sedutoras, o veneno estava em sua língua, mas não podemos esquecer
                                que Cristo também foi simbolizado pela serpente de bronze que Moisés levantou no deserto, como símbolo de cura e rendição.<br><br>&nbsp; &nbsp; A astúcia só terá eficácia se houver um prélio de ideias, seja para dominar
                                o inimigo ou para não ser dominado, quem for mais astuto vence, há poder nas palavras. Cristo muitas vezes agiu com astúcia em debates com os doutores da lei mosaica, e através dessa atitude entendemos o Caminho da Serpente.<br><br>&nbsp;
                                &nbsp; O desperto percorreu o Caminho da Serpente, uma estrada perigosa e sedutora, sem volta para muitos. Trilhar esse caminho significa tornar-se tão, ou de preferência, mais astuto do que o seu inimigo, ou seja, tornar-se
                                a serpente. O poder está na língua.<br><br>&nbsp; &nbsp; O homem é serpente, está sempre a ludibriar o mais fraco. Ele construiu uma pirâmide de ideias astutas a dominar sempre o que está abaixo, pois o homem é natural,
                                assim como a escravidão, logo, naturalmente vivemos em uma sociedade escravagista, não importa o sistema político, ele sempre será opressor, mudará apenas o nível.<br><br>&nbsp; &nbsp; A serpente representa uma ideia global,
                                por isso não é um totem pessoal. Para se vencer a astúcia é preciso ser astuto, é a cobra de Moisés engolindo as cobras dos magos do Egito. Não basta ser sábio é preciso ser astuto. Cristo disse: ‘sede astuto como a serpente
                                e simples como a pomba’, essa é a síntese do Caminho 22, se tornar astuto sem perder a pureza. Para vencer o homem torne-se serpente, para vencer a si mesmo torne-se cordeiro.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}