{% extends "base.html" %}
<title> {% block title %}Totem aguia - Qael{% endblock %}</title>
{% block content %}
    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Águia</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Guerreiro do ar</h4><img class="img-fluid" src="{{ url_for('static', filename='img/aguia.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:</strong> &nbsp;Clareza mental, iluminação, visão ampla, elevação.<br><br>&nbsp; &nbsp; Olhar por cima das situações e saber exatamente aonde pousar é o que esse totem oferece a quem está conectado
                                a ele, isso é clareza mental. Enquanto estamos diretamente envolvidos com os problemas não conseguimos entender a situação, mas quando nos colocamos acima deles, quando vemos o quão superiores somos, a solução se apresenta
                                de forma clara e simples, esse é o guerreiro do ar.<br><br>&nbsp; &nbsp; Esse é o totem que luta diretamente contra a astuta serpente, revelando que a salvação vem de cima, mas<br>não como um presente e sim, como resultado
                                de suor e sangue, ou seja, apenas a mente clara e elevada pode realmente vencer as armadilhas que o mundo nos prepara para que continuemos a girar em ciclos que não levam a crescimento algum.<br><br>&nbsp; &nbsp; Encontramos
                                também o amálgama da águia com o Leão, o grifo, céus e terra juntos para uma só luta, a guerra<br>para a liberdade (não confundir o Leão, um guerreiro da terra com o Qrub, guerreiro do fogo). Esse símbolo nos mostra que
                                a vitória é o resultado da junção de duas forças a humana e a divina. O Alto não fará a nossa parte, mas sozinhos não venceremos, mas quando o guerreiro da Terra se junta ao guerreiro do Ar, é possível terminar a guerra
                                em vitória.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>
    
{% endblock %}