{% extends "base.html" %}
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Cavalo</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Guerreiro da terra</h4><img class="img-fluid" src="{{ url_for('static', filename='img/cavalo.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Força, liberdade, viagens místicas, clarividência.<br><br>&nbsp; &nbsp; Durante muito tempo o que definiu a vitória de um exército foi o poder de sua cavalaria. O cavalo definia
                                a vitória, oferecendo velocidade, maior força, maior altura e impondo medo ao inimigo. Um bom cavaleiro se tornava um só com seu cavalo. Não o tratava apenas como uma simples besta, mas como um parceiro de luta. Um precisava
                                conhecer o outro e isso poderia definir a vitória no campo de batalha.<br><br>&nbsp; &nbsp; Já os cavalos selvagens &nbsp;com certeza são uma das mais belas visões sobre a liberdade. Um sonho com esses animais correndo
                                em um campo verde, dificilmente seria interpretado de outra forma. A ausência de rédeas, chicotes e dono faz do cavalo selvagem um verdadeiro símbolo de liberdade. Por isso mesmo o cavalo montado é uma visão paradoxal,
                                pois ele perde sua liberdade para garantir a do seu dono.<br><br>&nbsp; &nbsp; O totem sempre será uma visão espiritual onde cavaleiro e montaria estão livres e lutam lado a lado. Sem sela e rédea, apenas a união mística
                                para o bom combate. Somente uma pessoa livre combate pela liberdade, luta em prol dos escravos e se essa pessoa tem o cavalo como totem não se cansará, pois com ela está a força.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}