{% extends "base.html" %}
<title> {% block title %}Totem elefante - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Elefante</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Harmonia</h4><img class="img-fluid" src="{{ url_for('static', filename='img/992552.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Inteligência, autoconfiança, memória ancestral, determinação, solidariedade, sociabilidade, amizade, companheirismo.<br><br>&nbsp; &nbsp; &nbsp;A memória ancestral está em nossos
                                genes, no que carregamos em nosso código genético. Entender as características da família e até mesmo as doenças familiares pode nos mostrar quem somos, e porque estamos passando por tantas situações difíceis. A memória
                                ancestral diz quem somos e em quem devemos nos transformar.<br><br>&nbsp; &nbsp; Sua força está na confiança em si mesmo. Quando eu sei quem sou, eu abro caminhos. Essa autoconfiança também significa que o toteado desse
                                animal deve aprender a ouvir as opiniões somente de pessoas que realmente estão prontas para opinar, apreciações de quem não tem sabedoria e amor não devem ser levadas em consideração. É preciso ser grande, ser superior
                                às críticas destrutivas a ponto de não temer o ataque do inimigo.<br><br>&nbsp; &nbsp; Confiança é diferente de presunção. Um médico é confiante porque se preparou arduamente para se sentir assim, para se ver assim, enquanto
                                o presunçoso se orgulha apenas por causa de um título, uma ideia desprovida de conteúdo, de verdade. A confiança do elefante está em sua longa aprendizagem no decorrer da caminhada, e por não estar só nessa caminhada. Ele
                                segue as pegadas dos seus ancestrais, dos que vieram antes dele e deixaram seus rastros como sinais do que se deve fazer.<br><br>&nbsp; &nbsp; O caminhar do elefante não se dá de maneira altiva como se só ele importasse
                                no caminho, mas o outro é tão importante quanto a própria jornada, na verdade o outro é parte da jornada. Uma marcha de muitos peregrinos se torna valorosa no viver espiritual quando todos os caminhantes têm a consciência
                                do trabalho em equipe e do respeito às hierarquias do grupo, então todos rumam a uma vida maior. O grupo, a manada, a mente coletiva, a certeza de que não se está só.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}