{% extends "base.html" %}
<title> {% block title %}Totem lobo - Qael{% endblock %}</title>
{% block content %}
    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Lobo</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Vida em comunidade</h4><img class="img-fluid" src="{{ url_for('static', filename='img/screen-7.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Ensino, amor, relacionamentos saudáveis. <br><br>“Para os nativos é o mais fiel dos guias animais. É também o símbolo de professor da tribo. O lobo é um explorador de rotas, precursor
                                de novas ideias que volta para tribo para ensinar e compartilhar a medicina. O senso do lobo é muito aguçado e a lua é sua aliada de força. A medicina do lobo permite o professor dentro de nós todos surgir e ajudar os filhos
                                da terra a compreender o grande mistério da vida”.<br><br>&nbsp; &nbsp; Ao se pensar no lobo duas imagens vêem facilmente a nós, a da alcateia e a do lobo solitário uivando ao luar. Poucos animais passam com tanta força
                                a ideia de família e solidão ao mesmo tempo. A ideia de que mesmo que nós sejamos seres que precisam ter companhia, de estar lado a lado de pessoas que nos amam e nos protegem, &nbsp;e que ainda assim se faz necessário
                                termos momentos de solidão, para refletir sobre nós mesmos, sobre a vida e como estamos trilhando essa longa estrada que nos conduzirá a um novo mundo.<br><br>&nbsp; &nbsp; A visão do lobo uivando à lua não é a de uma triste
                                solidão, mas trás em si certa poesia, uma concepção de autoencontro, alguém que anuncia que está pronto para encontrar sua cara metade, pois só quem aprende a estar só pode se apresentar como um bom companheiro. Alguém
                                que está pronto a ouvir e a dividir o que tem. Um lobo maduro em circunstâncias normais terá a sua parceira e permanecerá com ela até os últimos dias de sua vida.<br><br>&nbsp; &nbsp; Estabilidade emocional e familiar é
                                o que esse totem inspira, o respeito à hierarquia familiar, o cuidado com os mais novos e a fidelidade conjugal. Esses são padrões tão pregados em nossa sociedade, porém pouco vividos. O lobo nos convida a viver essa realidade
                                de forma madura e concreta.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>
    
{% endblock %}