{% extends "base.html" %}
<title> {% block title %}Totem tigre - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Tigre</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Realeza<br></h4><img class="img-fluid" src="{{ url_for('static', filename='img/Tigre1-1024x768.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:</strong> Iluminação imediata (descrito no jaguar), realeza, beleza etérea.<br><br>&nbsp; &nbsp; O rei da selva asiática é o segundo na trindade felina, o segundo guerreiro que salta da cegueira
                                inata à luz. O que foi dito sobre o jaguar quanto a este quesito pode ser entendido tanto para o tigre quanto para o leão. <br><br>&nbsp; &nbsp; Não há como falar do tigre sem mencionar a sua beleza. Ao mesmo tempo em que
                                sentimos temor, ficamos admirados com o seu aspecto. O totem desse animal, no entanto, nos chama a atenção a uma beleza além matéria que é percebida de forma além sensorial.<br><br>&nbsp; &nbsp; Não falo da famosa beleza
                                interior que tem haver com o caráter do individuo, mas de uma formosura que todo aquele que alcança a luz possui. Tal característica é refletida pelo corpo, de forma que os que estão perto chegam a confundir com a beleza
                                física. A pessoa que alcança tal encanto se possui beleza física, essa ficará ofuscada a ponto de perder completamente o erotismo estético.<br><br>&nbsp; &nbsp; A realeza, característica desse animal de poder, assim como
                                do jaguar e do Qrub, revela que o príncipe alcançou a maturidade e está pronto para reinar sobre si mesmo. O toteado desse animal deve entender isso como um objetivo a ser alcançado e não que já se alcançou tal maturidade
                                simplesmente porque o tigre é o seu totem. Mas quem estiver pronto para iniciar suas várias lutas pelo domínio de si mesmo, a conquistar o reino de sua psique, esse que está pronto, com certeza sentira a força desse animal
                                de poder.<br><br>&nbsp; &nbsp; O felino protege a floresta do dragão sem asas, a mantém verde e saudável, e assegura o seu equilíbrio. A mente é a floresta, o tigre é o seu estado de maturidade, a serpente é o seu ego.
                                Somente o homem que alcançou a maturidade se encontra em condições de travar tal batalha. Pessoas com a idade de um adulto, mas que não estão realmente no nível psicológico da adultez, ainda se encontram despreparadas para
                                as conquistas. Um rei infantil transformará seu reino em um grande parque de recreações, onde impera a diversão e os prazeres sem qualquer responsabilidade. Logo esse reino será tomado por um terrível invasor.&nbsp;<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}