{% extends "base.html" %}
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Jaguar</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">O salto</h4><img class="img-fluid" src="{{ url_for('static', filename='img/451568.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:</strong> Iluminação imediata, guerreiro, conclusão, desapego, realeza, beleza etérea.<br><br>&nbsp; &nbsp; Se Cristo fosse brasileiro seria chamado de o Jaguar da tribo de Judá, pois esse animal
                                é o rei das selvas da América Latina, o terceiro na trindade felina.<br><br>&nbsp; &nbsp; Iluminação imediata: O jaguar representa o homem que encontra a luz mesmo em seu estado de pobreza espiritual, ou seja, aquele que
                                não nasceu pronto para se iluminar, mas contrariando todas as regras e lógicas de continuidade, ele salta sobre os obstáculos de seu carma negativo e encontra a luz.<br><br>&nbsp; &nbsp; Ele nasce completamente cego, e
                                por dois anos será dependente de sua mãe. Essa é a condição de quem nasceu tão longe da luz que precisa encontrar a salvação, a remissão de seus pecados. Tal homem não está pronto para a iluminação, está preso nas ilusões
                                que o atormentam, correntes criadas por ele mesmo, seus conflitos são tão egoístas &nbsp;quanto ele próprio. Ele terá que percorrer várias estradas até encontrar o perdão, só então estará pronto para ouvir coisas mais excelentes
                                que o elevará.<br><br>&nbsp; &nbsp; Além de seus próprios temores ele também é escravo de seus algozes, espíritos que atormentam sua alma e cegam sua consciência, mas o jaguar reúne todas as suas forças e salta além dos
                                patamares esperados. Não somente se ilumina como se torna um guerreiro.<br><br>&nbsp; &nbsp; A palavra jaguar se origina do tupi-guarani que traduzido significa, ‘fera que mata com um salto’. Este é o terceiro felino maior
                                do mundo, mas sua mordida é mais forte do que a do leão. <br><br>&nbsp; &nbsp; Seu caminho é solitário, &nbsp;desapegado de tudo e de todos. Seus passos são firmes e silenciosos, sua presença é quase imperceptível, seus
                                inimigos o temem, pois sabem quem ele é. Os povos astecas chamaram os seus soldados mais valentes de Cavaleiros Jaguar. <br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}