{% extends "base.html" %}
<title> {% block title %}Totem abelha - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Abelha</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Harmonia</h4><img class="img-fluid" src="{{ url_for('static', filename='img/1920x1200-px-Bee-bees-flower-flowers-insect-1657461.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Comunicação, organização, néctar da vida.<br><br>&nbsp; &nbsp; Quando pensamos na abelha automaticamente pensamos em seu mel, as duas coisas estão conectadas, associadas uma a outra
                                e isso é uma coisa maravilhosa, é a perfeita ilustração da iluminação racional, o autor tornando-se a obra, o artista tornando-se a arte. O mel simboliza a boa qualidade de vida, o prazer, a alegria, a diversão.<br><br>&nbsp;
                                &nbsp; Esse totem fala do amor ao trabalho e de seu resultado. Quando amamos o que fazemos, por mais difícil e<br>pesado que seja a tarefa o resultado será doce, agradável e necessário, de forma que o produto do trabalho
                                se torna importante tanto para nós quanto para os que nos cercam. O lazer só será saudável quando for resultado do esforço da sobrevivência. A abelha é uma das poucas imagens de inseto que agrada à maioria das pessoas,
                                e isso se deve ao mel, o trabalho árduo e o resultado satisfatório.<br><br>&nbsp; &nbsp; Outra forte característica desse totem é a organização no trabalho coletivo. Até quando vemos uma abelha sozinha imaginamos que ela
                                está coletando pólen e néctar em prol da colméia, então ela nunca está realmente só.<br><br>&nbsp; &nbsp; A salvação da mente está intrinsecamente ligada ao trabalho, sem o lavoro não há remissão do pecado original. Esse
                                animal de poder orienta o toteado em seu trabalho em algumas dificuldades, tais como: <br></p>
                        </div>
                        <ul style="font-size: 20px;margin-top: 20px;margin-bottom: 36px;">
                            <li>Não saber trabalhar em grupo<br></li>
                            <li>Dificuldades com hierarquia<br></li>
                            <li>Trabalhar por dever e não por prazer<br></li>
                            <li>Desassociar o trabalho secular da vida espiritual<br></li>
                            <li>Ser viciado em trabalho.<br></li>
                        </ul><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}