{% extends "base.html" %}
<title> {% block title %}Totem libelula - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Libélula</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Leveza<br></h4><img class="img-fluid" src="{{ url_for('static', filename='img/libelula.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais: </strong>Boas mudanças, desfrute da vida, alegria no relacionamento amoroso. <br><br>&nbsp; &nbsp; A libélula apesar de ser do elemento ar está intimamente ligada à água, pois em seu estágio
                                de ninfa passa<br>a maior parte de sua vida em lagos ou rios, isso significa que a clareza é uma característica marcante dela, então entendemos que o viver nesse totem é simples, não tendo nada a esconder e esse com certeza
                                é um atributo importante para um relacionamento saudável. Um coração de fácil leitura.<br><br>&nbsp; &nbsp; Depois que a libélula deixa a casca velha de ninfa e alcança o poder do voo ela vive apenas alguns meses,<br>isso
                                nos faz refletir a importância da qualidade de vida. Viver bem e ser feliz é diferente de viver muito e a ideia de que todo idoso é sábio é tolice, a idade traz apenas o cansaço e a inconsciência, pelo menos para a grande
                                maioria das pessoas.<br><br>&nbsp; &nbsp; Viver bem é abandonar a velha mente adquirida nas muitas jornadas, abandonar os rancores despojando-se da casca velha que já não o traduz. Viver bem é estar satisfeito com o que
                                se tem e pleno com o que se é, sem contudo, perder a força da conquista e o anseio de ser maior, e assim não viver iludido com as propostas de um mundo que nasceu decadente.<br><br>&nbsp; &nbsp; A névoa da ilusão é dissipada
                                pela coragem do voo, ter fé no caminho muitas vezes e voar às cegas, confiando<br>em sim mesmo e em quem te guia. A excelente visão desse totem nos fala de nossa visão mística, ver além do véu. É comum achar que nossa maior
                                barreira para o viver espiritual são os problemas, as dores e as perdas que tanto tememos, na verdade o que nos cega é o cotidiano, o conforto e a mesmice do dia a dia, o marasmo mental nos impede de ver a verdade. Não
                                estou falando de clarividência, falo de ver o real atrás do símbolo, de estar consciente durante o sonho, de visualizar a cidade ao fim do caminho. <br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}