{% extends "base.html" %}
<title> {% block title %}Totem mandril - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Mandril</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">O guardião</h4><img class="img-fluid" src="{{ url_for('static', filename='img/wp2330117.jpg')}}" style="width: 543px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais: &nbsp;</strong>Guerreiro guardião, magia, vitória, inteligência, liberdade, vida em comunidade, hierarquia.<br><br>&nbsp; &nbsp; Por dois motivos se pinta o corpo, para ir à guerra ou para celebrar
                                a vitória. As cores forte dizem ao oponente: não mexa comigo, eu sou forte. Também servem para demonstrar as fortes emoções da satisfação da vitória. O vermelho é a batalha, é o preço maior, o sangue. O azul é a vitória,
                                a celebração, a dança que expressa a alegria. O púrpura é a exaltação, a elevação, o quinhão do guerreiro, o príncipe sobe ao trono.<br><br>&nbsp; &nbsp; O mandril é o guardião do portal, o estado de alerta, o que não dorme
                                nem dormita. Sua incumbência é impedir que o inimigo passe pelo portal, e ele fará isso pela força e pela magia.<br><br>&nbsp; &nbsp; A magia está oculta na essência de todas as coisas e somente poucos podem despertá-la.
                                É um instrumento, um bastão de guerra, um estandarte da vitória, um perigo.<br><br>&nbsp; &nbsp; Esse totem também simboliza a celebração da vitória e isso é uma coisa muito importante, poucos sabem celebrar. As mentes
                                de muitos guerreiros permanecem presas nas batalhas, não conseguem se livrar do vício da luta. A guerra termina, mas não para o soldado que se fez guerra, que trouxe a violência para dentro de si.<br><br>&nbsp; &nbsp; Celebrar
                                as vitórias é despojar-se das energias da amargura, livrar-se do pó do conflito, é banhar-se nas águas do batismo da renovação. O mandril dança sob o céu azul da salvação. <br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}