{% extends "base.html" %}
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Borboleta</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Iluminação<br></h4><img class="img-fluid" src="{{ url_for('static', filename='img/borboleta.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:</strong> Transformação, superação, liberdade, harmonia com o ambiente.<br><br>&nbsp; &nbsp; Todos têm momentos difíceis, alguns mais outros menos, mas todos sofrem. Algumas pessoas quando passam
                                pelos seus momentos difíceis se tornam amarguradas. A raiva e o desejo de vingança consomem suas almas, perdem a paz, perdem a alegria e perdem o néctar da vida. A borboleta nos ensina a transformar momentos em que nos
                                sentimos pequenos e feios e nos arrastamos pela vida à espera de um milagre, em degraus para uma vida nova, coloridamente alegre e onde podemos voar.<br><br>&nbsp; &nbsp; Esse totem nos mostra que não há iluminação sem
                                morte, mas também nos mostra que a morte nada mais é do que o abandono das coisas terrenas para viver as coisas do céu. Morrer é aprender a voar, é sair da condição de rastejante, abandonar a autocomiseração, abandonar
                                a autoimagem de verme e se ver capaz de aderir a novas cores.<br><br>&nbsp; &nbsp; Posso morrer lagarta ou posso com todas as minhas forças dizer não às imposições do mundo e romper com a grossa casca que me envolve revelando
                                assim o verdadeiro eu, adquirindo uma nova visão, um olhar de cima para baixo, não para pisar nos que ainda rastejam, mas para ser exemplo de superação.<br><br>&nbsp; &nbsp; A lagarta diz: eu sei quem sou e não aceito rastejar
                                o resto da minha vida. Eu nasci para voar e estarei entre as flores. Não sou homem, sou deus. Isso significa que mortificarei minha carne até que a terra entenda que não<br>mais me enterrarei nela, que pertenço ao ar.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}