{% extends "base.html" %}
<title> {% block title %}Totem cervo - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Cervo</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Glória e Força</h4><img class="img-fluid" src="{{ url_for('static', filename='img/cervo.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Autoestima, liberdade, leveza, realeza.<br><br>&nbsp; &nbsp; A visão desse animal revela um pouco sobre a glória. Muito se é cantado sobre esse estado espiritual, mas poucos realmente
                                sabem o que é a glória. Somente quem anda ou andou nesse estado pode realmente entender o real valor dessa verdade.<br><br>&nbsp; &nbsp; A glória é um estado de elevação, uma sensação de completude, uma altivez interior,
                                superioridade a todo objeto e ser que circuncida o glorificado, porém, de forma paradoxal, não humilhante àquele que não a possui. Quem vive na glória nada deseja, pois vive em orgasmo espiritual.<br><br>&nbsp; &nbsp; O
                                cervo quer esteja no alto da montanha ou em meio à floresta impõe a sua altivez, ele está acima da mediocridade do mundo, alcançou a consciência de que é nobre, há uma energia que pulsa por todo o seu corpo, uma vida além
                                da orgânica.<br><br>&nbsp; &nbsp; Ao olharmos para esse totem vemos também a força. Vemo-la em seu porte de príncipe, em seus galhos<br>majestosos e místicos, mas tal força não evoca a visão de violência, agressividade
                                e sim do poder da vida. O saber de que se está vivo e assim permanecerá. Essa convicção é sentida no corpo, expurgando a fraqueza e o cansaço, gerando disposição no fazer.<br><br>&nbsp; &nbsp; Candura e força expressa em
                                uma só imagem. Essa não deve ser a imagem do iluminado? Alguém tenro e complacente, mas ao mesmo tempo forte e determinado? Majestoso e simples? Tais características não são opositoras entre si, mas elementos completantes.<br><br>&nbsp;
                                &nbsp; O toteado desse animal de poder deve vê-lo como um símbolo a ser decifrado, um alvo a ser alcançado. Deve seguir as pequenas pegadas deixadas na estrada que o conduzirá às águas vivas.<br><br>O cervo anuncia: o príncipe
                                está pronto para reinar.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}