{% extends "base.html" %}
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Gato</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Liberdade<br></h4><img class="img-fluid" src="{{ url_for('static', filename='img/gato.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:</strong> Iluminação imediata (descrito no jaguar), mistério, intuição, independência, adaptação. <br><br>&nbsp; &nbsp; Por vezes os gatos são vistos como animais ingratos, mas isso se dá porque
                                a maioria das pessoas necessita de elogios, agrados e agradecimentos para se sentirem bem, elas não sabem conviver com a independência do próximo. Ele é grato pelo cuidado de seu dono, mas não o bajula, nem se submete à
                                escravidão, ele tem sua vida pessoal e na primeira oportunidade vai pular o muro para vivê-la.<br><br>&nbsp; &nbsp; Este é o totem da comunicação espiritual, principalmente nos sonhos, o elo dos dois mundos, e por isso,
                                esse felino se torna um mensageiro portando avisos e alertas às pessoas com quem convive. Acidentes e mortes são evitadas, vitórias e ascensões são ganhas pelas mensagens do gato.<br><br>&nbsp; &nbsp; Os sonhos muitas vezes
                                podem revelar conteúdos do inconsciente humano, dores ou desejos reprimidos que se analisados podem te ajudar a uma compreensão melhor de si mesmo, mas também podem ser pontes que ligam os mundos.<br><br>&nbsp; &nbsp; Muitas
                                dessas comunicações necessitam de que portais se abram. São vários os portais, a exemplo temos os<br>horários mestres 03h33min da madrugada 06h30min e outros. O totem do gato é um portal.<br><br>&nbsp; &nbsp; Sussurros,
                                vozes e visões também ocorrem na comunicação espiritual oferecida pelo totem. É importante<br>entender que tais comunicações não ocorrem apenas pela influência desse totem, muitas são as formas do mundo espiritual se comunicar,
                                o gato é apenas uma dessas formas.<br><br>&nbsp; &nbsp; Quando se fala do mistério do gato estamos falando desse desvelar das mensagens do mundo astral, isso<br>difere muito do mistério da coruja.&nbsp; Os olhos felinos
                                definem bem esse mistério. Eles veem o que ninguém mais vê. Enquanto todos dormem, eles caminham pela noite e observam o mundo não visível.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}