{% extends "base.html" %}
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <div class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Chimpanze</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Fraternidade</h4><img class="img-fluid" src="{{ url_for('static', filename='img/photo-1545125116-9483cf79612c.jpg')}}" style="width: 558px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Satisfação no estado presente, inteligência, comunicação, vida em comunidade, hierarquia.<br><br>&nbsp; &nbsp; Uma ilusão dentro de uma ilusão, dentro de outra ilusão dentro de
                                outra ilusão. Assim é a mente da maioria de nós. Quando não estamos satisfeitos simplesmente criamos um momento alternativo em nossas mentes, um refúgio, uma caverna segura, uma fantasia. E assim dificilmente estamos aqui.<br><br>&nbsp;
                                &nbsp; Dificilmente relacionamos com a pessoa que está ao nosso lado, pois criamos um outro em nossa mente segundo nossas expectativas. Para o ser humano é difícil ver o óbvio. <br><br>&nbsp; &nbsp; Esse totem é o símbolo
                                da mente presente. A satisfação do que se é no devido momento em que se está Este primata no faz ver que podemos ser felizes, independente de nossa condição. Cada um possui o que precisa possuir para construir sua felicidade
                                e cooperar com a do próximo. Cada um é, segundo a sua própria construção.<br><br>&nbsp; &nbsp; A satisfação desse animal está em si primeiramente, logo depois, porém não menos importante, na fraternidade do grupo em que
                                ele participa. O toteado desse animal de poder precisa construir a autoaceitação, somente através dela é que o presente se faz.<br><br>&nbsp; &nbsp; Outro ponto que o totem nos mostra é que o segredo de uma boa fraternidade
                                é cada um conhecer o seu papel no grupo, pois toda relação é piramidal, a relação linear é utópica. E isso não deve ser sinônimo de escravidão e abusos de autoridade, mas de organização e cooperação mútua.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}