{% extends "base.html" %}
<title> {% block title %}Totem coelho - Qael{% endblock %}</title>
{% block content %}

    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -30px;">
            <article class="container">
                <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                    <h1 class="display-4 text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;"><strong>Coelho</strong></h1>
                    <h4 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;">Alegria</h4><img class="img-fluid" src="{{ url_for('static', filename='img/Child_of_Rabbit_Photo.jpg')}}" style="width: 500px;"></div>
                <div class="row align-items-center" data-aos="zoom-in-up">
                    <div class="col" style="padding-top: 35px;margin-top: -30px;">
                        <div class="text-left getting-started-info">
                            <p class="text-left"><strong>Características gerais:&nbsp;</strong>Fertilidade, crescimento, sustento, atenção.<br><br>&nbsp; &nbsp; A fertilidade nem sempre está associada à felicidade, uma prole grande em meio ao caos e a pobreza, por<br>exemplo,
                                é um quadro infeliz. Tão pouco a fartura por si só garantirá a paz, se assim fosse toda pessoa rica era feliz. A fertilidade e a prosperidade do coelho dizem muito mais da alegria do que quantidade.<br><br>&nbsp; &nbsp;
                                O coelho tem o poder de criar um sorriso em nossos lábios, seja ele nas mão de um criança ou sozinho a saltitar. Ele personifica a alegria de se estar vivo, de ver o mundo com olhos alegres, mesmo que haja dores e obstáculos
                                a serem vencidos, mas o fato de existirmos é motivo de alegria.<br><br>&nbsp; &nbsp; Então, seremos férteis porque geraremos vida e alegria, não apenas novos seres humanos para povoar um planeta caótico; e seremos prósperos
                                porque estaremos satisfeitos com o que possuímos.<br><br>&nbsp; &nbsp; A alegria do coelho não é uma emoção desprovida da consciência da dor e do perigo. Ele sabe que a raposa mora ao lado e por isso está sempre de orelhas
                                em pé. Muitos problemas que as pessoas vivem acontecem porque elas não ficam alertas. Alguns vivem como se estivessem no paraíso, mas se esquecem que até lá existe uma serpente. No entanto, não podemos confundir estado
                                de alerta com desconfiança. Sem confiança não há relacionamento saudável. Podemos ser alegres sem sermos descuidados.<br><br>&nbsp; &nbsp; Esse é o totem do bom humor que é expresso por um rosto aberto, leve e sorridente.
                                Como é bom estar ao lado de pessoas assim, elas são como água a refrigerar a alma dos cansados. Elas têm o poder de transformar o ambiente, de trazer o bem estar a todos que as cercam, vão-se as lágrimas fica o sorriso.<br><br></p>
                        </div><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/totem" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}