{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/11 FORÇA.jpg')}}"><strong>&nbsp;&nbsp;11 - A FORÇA</strong><br><br>Palavras-Chave: <br>Auto-Controle e Vontade Dirigida<br><br>- Aprendizado aos 11 anos de idade: um fato que marca o &nbsp;&nbsp;psicológico;<br>- Vontade
                    imperativa, objetivismo e energia;<br>- Inteligência sobre os instintos;<br>- Inquietação mental e curiosidade por tudo;<br>- Magnetismo pessoal;<br>- A sexualidade é forte e atuante;<br>- Cuidado com as explosões de temperamento;<br>-
                    A impulsividade é inimiga do seu sucesso;<br>- Determinação para chegar onde quer;<br>- Vontade de manter controle absoluto sobre o que ocorre em &nbsp;&nbsp;sua &nbsp;&nbsp;vida;<br>- Sinceridade e franqueza;<br>- Luta contra o EGO
                    ;<br>- Detesta ser dirigido(a) ou liderado(a);<br>- Disposição física e coragem;<br>- Testes na vida quanto à sua tolerância;<br>- Não seja tão perfeccionista consigo mesmo;<br>- Empenho em querer dar o melhor de si;<br>- Expectativas
                    permanentes quanto ao trabalho;<br>- Cuidado com a competitividade;<br>- Não faça de sua vida um "cabo-de-guerra";<br>- Desafios emocionais;<br>- Auto-cobrança;<br>- Habilidade com atividades de raciocínio rápido;<br>- Não gosta de
                    estar preso à regras ou dogmas;<br>- Luta contra o poder e monopólio (domínio);<br>- Desejo de fazer algo grandioso;<br>- Cuidado com a ansiedade;<br>- Não tente resultados a curto prazo;<br>- Administrar o que tem sabiamente;<br>-
                    Cuidado com a área neuro-muscular, gônadas, taxa de glicose, &nbsp;&nbsp;vida &nbsp;&nbsp;estressante;<br>- Atividades como Yoga e Tai Chi são indicadas;<br>- Não se esquente com problemas que venham da família;<br>- Trabalhe sua teimosia;<br>-
                    Crescimento pessoal que surge através da focalização das &nbsp;&nbsp;metas;<br>- Quer viver coisas novas;<br>- Crie novas oportunidades para si todas as horas;<br>- Não cobre de seu parceiro o que ele não pode dar (ou de &nbsp;&nbsp;quem
                    vc &nbsp;&nbsp;convive);<br>- Evite disputas;<br>- Trabalhe colaborando;<br>- Não desperdice as chances que lhe são dadas.<br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot"
                        style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}