{% extends "base.html" %}
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/13 MORTE.jpg')}}"><strong>&nbsp;&nbsp;13 - A MORTE</strong><br><br>Palavras-Chave:<br>Renascimento Pessoal e Desapego Material<br><br>- Acontecimento marcante a nível psicológico aos 13 anos de &nbsp;&nbsp;idade;<br>- Falta
                    de um dos pais, afetivamente falando;<br>- Muito trabalho no plano físico: nada é muito fácil para você ;<br>- Medo de perder entes queridos;<br>- Desafios através das constantes mudanças de Vida;<br>- Evite uma vida sedentária;<br>-
                    Lute contra a inércia ou preguiça;<br>- Renuncie o que não faz mais sentido;<br>- Trabalhe sua inibição pessoal;<br>- Entende muito a dor do outro;<br>- Planejamento e observação são suas alavancas para o sucesso;<br>- Cuidado com
                    a subserviência: saiba dizer NÃO quando for &nbsp;&nbsp;&nbsp;necessário;<br>- Dificuldade de impor limites;<br>- Vença seus fantasmas do passado, não lamente as perdas;<br>- Atração por assuntos ligados à morte e reencarnação;<br>-
                    Não sofra por antecipação;<br>- Fidelidade aos seus princípios de Vida;<br>- Viva intensamente o AGORA;<br>- Seja constante no que faz, leve até o final o que começou;<br>- Doa-se muito e perde muita energia com isso;<br>- Mexa com
                    a terra, plantando ;<br>- O sistema estrutural pode reclamar: atenção quanto aos ossos, <br>dentes, sistema imunológico e endócrino;<br>- Venças as depressões ou fases de otimismo, trabalhando no &nbsp;&nbsp;que &nbsp;&nbsp;gosta;<br>-
                    O que espera da Vida?;<br>- Humildade não é humilhar-se;<br>- Preserva o máximo o que tem;<br>- Desapego material ou renúncias;<br>- Não deixe que os outros determinem sua Vida;<br>- Sua terapia é a ocupacional;<br>- Nada é definitivo
                    em sua Vida;<br>- Delicadeza e zelo;<br>- Aja com firmeza ;<br>- Você é quem determina as mudanças ;<br>- Não acredite em fatalidades;<br>- Não se machuque afetivamente por esperar do outro toda &nbsp;&nbsp;compreensão;<br>- Escolha
                    cuidadosamente suas atividades;<br>- O trabalho é seu referencial.<br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}