{% extends "base.html" %}
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/15 DIABO.jpg')}}"><strong>&nbsp;15 - O DIABO</strong><br><br>Palavras-Chave:<br>Domínio e Poder<br><br>- Desafio emocional aos 15 anos de idade;<br>- Pai poderoso, controlador ou místico (ou oculto);<br>- Perspicácia;<br>-
                    Sexualidade intensa;<br>- Desconfiança;<br>- Cuidado com pessoas inescrupulosas;<br>- Evite misturar questões afetivas com o lado financeiro;<br>- Instintividade;<br>- Controle invisível;<br>- Psiquismo;<br>- Amor ou ódio a assuntos
                    ligados à Magia;<br>- Sarcasmo;<br>- Não escravize os outros emocionalmente;<br>- Capacidade psicológica;<br>- Evite a raiva contida;<br>- Poder materializador pelo pensamento;<br>- Iniciação espiritual;<br>- Deve confrontar seus medos
                    mais íntimos;<br>- Evite ciúme ou possessividade;<br>- Problemas com pessoas controladoras;<br>- Saiba perdoar: a vingança em qualquer hipótese destrói;<br>- Períodos de angústia;<br>- Pesadelos na infância;<br>- Terror noturno ou
                    medo do escuro;<br>- Cuide de sua parte genital, psicológica e seu campo da aura;<br>- Bruxismo (ranger de dentes);<br>- Proteção espiritual poderosa;<br>- Não superestime sua força;<br>- Paixões avassaladoras ou relacionamentos passados
                    &nbsp;&nbsp;&nbsp;conturbados;<br>- Luta pela fidelidade;<br>- Coerência;<br>- Dê mais crédito a si mesmo(a);<br>- Você veio para vencer sua SOMBRA pessoal: o EGO;<br>- Deseja garantias em tudo o que faz;<br>- Não imponha sua verdade
                    aos outros;<br>- Não se associe em negócios: risco de traição;<br>- Empreendedor(a).<br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}