{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/21 MUNDO.jpg')}}"><strong>&nbsp;&nbsp;21 - O MUNDO</strong><br><br>Palavras-Chave:<br>Universalismo e Realização<br><br>- Acontecimento marcante a nível psicológico aos 21 anos;<br>- Expansão e otimismo;<br>- Excessos
                    que podem ser cometidos com facilidade;<br>- Indulgência;<br>- Entusiasmo e energia;<br>- Deseja fazer coisas grandes: pensa alto;<br>- Confiança demais pode prejudicar;<br>- Quer fazer tudo ao mesmo tempo;<br>- Sorte quer dizer preparo
                    + oportunidade;<br>- Interesse vivo pelas culturas;<br>- Atração por tudo ligado ao Universo;<br>- Não se deixe cegar com sua própria luz;<br>- Avanços e progressos rápidos;<br>- Ganha quando sente que merece;<br>- Gosta de agradar
                    a todos e recompensa quem te ajudou;<br>- Necessita de espaço para si;<br>- Contrariedades emocionais;<br>- Precisa sempre assumir uma posição;<br>- Cuidado com um lado voluntarioso;<br>- Apreensão quanto ao futuro;<br>- Ansiedade;<br>-
                    Grandes expectativas;<br>- Nem tudo leva a sério;<br>- Anseia por uma grande capacidade criativa;<br>- Fascínio por grandes monumentos ou obras;<br>- Atenção quanto ao sistema linfático, gordura ou glicose, colesterol, útero;<br>-
                    Sentimento de vitória iminente;<br>- Não se envolva com pessoas dramáticas;<br>- Aprenda a renunciar;<br>- Certeza interior;<br>- Atração pelo mundo simbólico;<br>- Não desperdice suas chances pessoais;<br>- Evite a acomodação;<br>-
                    Planeje com carinho;<br>- Tipo visionário;<br>- Comunga com idéias originais;<br>- Trabalhe a insensatez;<br>- Tenha os pés no chão!<br>- É o momento, nesta vida, de realizar seus sonhos;<br>- Bençãos espirituais;<br>- Obtém ajuda
                    inesperada.<br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}