{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/0-22-louco.jpg')}}"><strong>&nbsp; 22 ( ou 0) - O LOUCO</strong><br><br>Palavras-Chave:<br>Precipitação e Inconformismo<br><br>- Fase importante a nível emocional e psicológico aos 22 anos;<br>- Inquietação;<br>- Insatisfação;<br>-
                    Não se prende a NADA;<br>- Imprevidência;<br>- Despretensiosa;<br>- Se joga de cabeça em tudo;<br>- Quer '"abraçar o mundo com as pernas" ;<br>- Desliga-se com facilidade;<br>- Tem dificuldade de escolher suas amizades ou relacionamentos;<br>-
                    Aventureira sem limites;<br>- Desorganização pessoal;<br>- Avanços rápidos;<br>- Natureza peregrina;<br>- Cuidado para não abandonar as coisas pelo caminho;<br>- Desinteresse;<br>&nbsp;-Não se prenda a futilidades;<br>- Gosta de coisas
                    diferentes ou extravagantes;<br>- Rebeldia;<br>- Opõe-se às idéias dos demais;<br>- Gosta de roupas folgadas;<br>- Gosta de divertir os ambientes, um "bufão";<br>- Quer atingir outros níveis de compreensão;<br>- Escapismo;<br>- Foge
                    dos problemas ou realidade;<br>- Não quer teoria, quer prática;<br>- Perde o que tem por desatenção;<br>- Caminhadas, montanhismo e passeios são uma terapia;<br>- Aprenda a relaxar;<br>- Não fuja demais dos padrões;<br>- Dificuldade
                    de se adaptar a ambientes fechados;<br>- Muito amiga nas horas difíceis;<br>- Cuidado com comportamento infantil!;<br>- Precisa aprender a extravasar sua energia;<br>- Não invada territórios que não são seus;<br>- Badalações e aventuras
                    afetivas;<br>- Se concentre sempre no que faz!<br>- Pode gesticular muito;<br>- Regência sobre metabolismo, sist. nervoso central, hormônios, circulação;<br>- Energia e atividade;<br>- Não gosta de ser contrariada;<br>- Não seja inoportuna!<br>-
                    Alma Antiga: acumulou muitas experiências ao longo de suas encarnações;<br>- Precisa ser mais firme e demonstrar solidez;<br>- Imprevisibilidade;<br>- Pode trabalhar em equipe, mas é muito auto-suficiente;<br>- Invista no seu futuro!<br>-
                    Impaciência com estudos: muito mental, mas não gosta de ficar só ouvindo;<br>- Sinceridade.<br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}