{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><br><img src="{{ url_for('static', filename='img/tarot/2 papisa.jpg')}}"><strong>2 - A SACERDOTISA</strong><br><br>Palavras-Chave:<br>Compreensão e Serenidade<br><br>&nbsp;- Acontecimento importante aos 2 anos de idade;<br>&nbsp;- Vê na mãe, sua bússola pessoal;<br>&nbsp;-
                    Espírito meditativo;<br>&nbsp;- Cuidado e zelo;<br>&nbsp;- Natureza muitas vezes caseira;<br>&nbsp;- Interesse pela educação;<br>&nbsp;- Vença a passividade;<br>&nbsp;- Pode contradizer-se com facilidade;<br>&nbsp;- Silêncio;<br>&nbsp;-
                    Observação e análise;<br>&nbsp;- Colaboração;<br>&nbsp;- Dependência emocional;<br>&nbsp;- Melancolia;<br>&nbsp;- Apega-se demais aos outros;<br>&nbsp;- Busca do par ideal;<br>&nbsp;- Dúvidas acerca da própria capacidade;<br>&nbsp;-
                    Gosto pela leitura;<br>&nbsp;- Transforme suas lágrimas em suor;<br>&nbsp;- Cede demais;<br>&nbsp;- Trabalhe seu conformismo;<br>&nbsp;- Assume o cuidado de alguém próximo;<br>&nbsp;- Timidez ou inibição;<br>&nbsp;- Deve desenvolver
                    mais força de vontade em tudo;<br>&nbsp;- Vire a página de seu passado;<br>&nbsp;- Não se reprima emocionalmente;<br>&nbsp;- Procure desfazer-se do que é velho;<br>&nbsp;- Economia e moderação;<br>&nbsp;- Não deixe para amanhã o que
                    você pode fazer hoje;<br>&nbsp;- Seja mais ambicioso (a);<br>&nbsp;- Não se feche em si mesmo (a);<br>&nbsp;- Intuição;<br>&nbsp;- Reservas;<br>&nbsp;- Busca uma ambientação com pessoas ou coisas;<br>&nbsp;- Preza pelo máximo de segurança;<br>&nbsp;-
                    Atenção ao aparelho digestivo, bexiga, olhos, sist. celular, líquidos do corpo;<br>&nbsp;- Não desconsidere seu conhecimento;<br>&nbsp;- Servir é uma das suas funções;<br>&nbsp;- Organize seus papéis;<br>&nbsp;- Muito solicitado (a);<br>&nbsp;-
                    Atenção à família;<br>&nbsp;- Mantenha-se firme em suas metas;<br>&nbsp;- Não desperdice seu tempo com futilidades;<br>&nbsp;- Acomodação;<br>&nbsp;- Não dê ouvidos a comentários maliciosos;<br>&nbsp;- Supere-se;<br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center"
                        role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></p>
            </div>
        </div>
    </main>


{% endblock %}