{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/17 ESTRELA.jpg')}}"><strong>&nbsp;17 - A ESTRELA</strong><br><br>Palavras-Chave:<br>Esperança e Orientação<br><br>- Acontecimento marcante a nível emocional aos 17 anos ;<br>- Sutileza e tranqüilidade;<br>- Cuidado com os
                    desperdícios;<br>- Evite se expor desnecessariamente;<br>- Se ambienta facilmente;<br>- Interesse por Astrologia e o Cosmos;<br>- Jovialidade;<br>- Atenção ao oportunismo das pessoas à sua volta;<br>- Necessidade de estar em contato
                    com a Natureza;<br>- Filosófico(a);<br>- Dedicado e criterioso;<br>- Investigador e inquiridor;<br>- Fecundidade e progresso;<br>- Franqueza;<br>- Presença de espírito;<br>- Espontaneidade;<br>- Aprecia as coisas simples da Vida;<br>-
                    Anseia por liberdade;<br>- Gosta das conversações e troca de idéias;<br>- Inspiração;<br>- Força de vontade;<br>- Suscetibilidade;<br>- Espírito voluntário para ajudar;<br>- Refinamento dos desejos;<br>- Não seja utópico(a) demais;<br>-
                    Em busca de seu lugar de descanso ou meditação;<br>- Visão holística;<br>- Produtividade intelectual;<br>- Desligue-se de problemas que não são seus;<br>- Poético(a) e sonhador(a);<br>- Evite as ironias;<br>- Satisfação quando cumpre
                    com seu papel;<br>- O dinheiro pode escoar de suas mãos;<br>- Quer ser muito funcional;<br>- Deve sempre ter tato nas discussões;<br>- Evite o nervosismo;<br>- Cuide do sistema nervoso, urinário, joelhos ou tornozelos, estômago &nbsp;e
                    pele;<br>- Não se arrisque sem planejar antes;<br>- Promova a concórdia;<br>- Transparência e sinceridade;<br>- Norteia os outros.<br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot"
                        style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}