{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/14 TEMPERANÇA.jpg')}}"><strong>&nbsp;&nbsp;14 - A TEMPERANÇA</strong><br><br>Palavras-Chave:<br>Alquimia e Auto-Transformação<br><br>- Acontecimento marcante a nível psicológico aos 14 anos;<br>- Moderação e ponderação;<br>-
                    Espírito indagador;<br>- Ciência e tecnologia podem atrair vc;<br>- Motivação pessoal;<br>- Precisa trabalhar sua parte emocional conflitos;<br>- Sempre precisa esperar;<br>- Natureza íntima elétrica;<br>- Deseja ver coisas diferentes;<br>-
                    Poder de cura pelas mãos ( Reiki, Cristais, Passes Magnéticos, &nbsp;&nbsp;etc);<br>- Inconformismo;<br>- Transforma os ambientes por onde passa;<br>- Mente aguçada;<br>- Deseja clareza por parte dos outros;<br>- Sintonizado com as
                    tendências mundiais;<br>- Amigo(a) e participativo(a);<br>- Relações afetivas tem sucesso se baseadas na amizade mútua;<br>- Luta pela liberdade;<br>- Quer alçar vôo e atingir o alto;<br>- Comportamento às vezes utópico;<br>- Telepatia;<br>-
                    Quer experimentar coisas novas;<br>- Precisa estipular metas;<br>- A saúde pode ser muito testada;<br>- Princípios firmes;<br>- Sensibilidade a sons;<br>- Apreciador de uma boa música;<br>- Quer agradar a todos;<br>- Observação;<br>-
                    Não pode estar preso a dogmas ou doutrinas;<br>- Funcionalidade;<br>- Inventividade;<br>- Cooperativismo;<br>- Pode cuidar ou assumir a responsabilidade de alguém doente &nbsp;&nbsp;&nbsp;na &nbsp;&nbsp;família;<br>- Confronto de idéias;<br>-
                    Teimosia em relação às suas idéias;<br>- Deseja superar-se nas tarefas;<br>- Incondicionalidade;<br>- Atenção à área neurológica, muscular, glândulas, próstata, cabeça e &nbsp;&nbsp;pressão;<br>- Apartidário;<br>- Segue sua cabeça
                    e é seu líder;<br>- Cuidado com a intolerância.<br><br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}