{% extends "base.html" %}
{% block content %}

<main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
    <div class="container">
        <h1><br>Seu Arcano pessoal é:</h1>
        <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
            <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;">
                <br><br><img src="{{ url_for('static', filename='img/tarot/mago-01.jpg')}}"><strong>&nbsp; 1 - O MAGO</strong><br><br>Palavras-Chave:<br>Intercâmbio e Comunicabilidade<br><br>- Acontecimento que deixa marcas a nível psicológico a 1 ano &nbsp;&nbsp;de &nbsp;&nbsp;idade;<br>-
                Astúcia e dinamismo;<br>- Mediador(a) nas situações;<br>- Desdobra-se em tudo que faz;<br>- Cuidado com a mentira (sua ou dos outros);<br>- Inquietação;<br>- Natureza pueril;<br>- Gosto por novidades;<br>- Desloca-se com frequência;<br>-
                Organize-se em seus documentos, papéis ou objetos pessoais;<br>- Capacidade de se adaptar a tudo, natureza mimética;<br>- Mente agitada, curiosidade;<br>- Busca funcionalidade das coisas;<br>- Racionalismo que leva a suprimir a emoção;<br>-
                Presença de espírito;<br>- Versatilidade e poder de ação;<br>- Quer fazer tudo ao mesmo tempo;<br>- Aprende tudo com rapidez;<br>- Habilidades manuais;<br>- Comunicação em larga escala;<br>- Impulso pessoal;<br>- Gosto aguçado pela
                leitura e escrita;<br>- Empreendedora;<br>- Aprecia muito souverniers;<br>- Atenção ao sistema nervoso, circulação, aparelho fonador e &nbsp;&nbsp;respiratório;<br>- Às vezes, individualismo;<br>- Mediunidade atuante;<br>- Capacidade
                de sair criativamente das situações;<br>- Impermanência;<br>- Jovialidade;<br>- Ingenuidade e falta de malícia;<br>- Cuidado com a dispersão de tempo e talentos;<br>- Eficácia nas tarefas;<br>- Vive o agora, não se preocupa com o que
                pode vir;<br>- Bom humor;<br>- Dúvidas acerca da capacidade;<br>- Brilhantismo nas idéias;<br>- Necessidade de estabelecer uma base de valores;<br>- Pode parecer muitas vezes incoveniente aos outros;<br>- Brinca com as palavras;<br>-
                Precisa estar perto de pessoas jovens;<br>- Originalidade e autenticidade<br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br>
            </p>
        </div>
    </div>
</main>

{% endblock %}

