{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><br><img src="{{ url_for('static', filename='img/tarot/6 NAMORADOS.jpg')}}"><strong>&nbsp; 6 - OS ENAMORADOS</strong><br><br>Palavras-Chave:<br>Escolha e Livre-Arbítrio<br><br>- Acontecimento marcante a nível psicológico aos 6 anos de idade;<br>- Amor pelo amor;<br>- Busca
                    da realização afetiva e dependência emocional;<br>- Faz da relação o seu TUDO;<br>- Carente afetivamente;<br>- Indecisão e dúvidas acerca da própria capacidade;<br>- Sociabilidade e simpatia;<br>- Generosidade;<br>- Delicadeza e carinho;<br>-
                    Instabilidade de humor ou temperamento;<br>- Aprecia as artes: poesia, artesanato, moda, música...<br>- Senso estético;<br>- Instinto protetor;<br>- Quer estar bem com todos;<br>- Aprecia festas ou encontros em grupo;<br>- Precisa
                    vencer as inibições frente a seu potencial;<br>- Busca o belo e harmônico à sua volta;<br>- Coloca o coração em tudo o que faz;<br>- Pode titubear diante de algum desafio;<br>- Cuidado com as chantagens emocionais;<br>- Trabalhe a
                    subserviência: saiba dizer NÃO quando for &nbsp;&nbsp;&nbsp;necessário;<br>- Quer apaziguar brigas ou conflitos;<br>- Deseja aprovação pessoal;<br>- Cuide do coração, cabelos, unhas, gânglios em geral;<br>- Romantismo;<br>- Idealismo
                    e imaginação fértil;<br>- Sofre por antecipação;<br>- Positivo nas relações sociais ou trabalho em equipe;<br>- Cuidado com o conformismo;<br>- Expectativa quanto ao próximo: decepciona-se por esperar &nbsp;&nbsp;&nbsp;demais &nbsp;&nbsp;do
                    outro;<br>- Sensibilidade aguçada;<br>- Sonha com um mundo melhor;<br>- Deseja ser compreendida à altura;<br>- Cria amizades com facilidade;<br>- Desafios a nível do coração;<br>- Escolher é difícil;<br>- Cuidado com o dualismo;<br>-
                    Precisa trabalhar a concentração.<br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}