{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/16 TORRE.jpg')}}"><strong>&nbsp;&nbsp;16 - A TORRE</strong><br><br>Palavras-Chave:<br>Fim da Ilusão e Reestruturação<br><br>- Um acontecimento marcante a nível psicológico ocorreu aos 16 &nbsp;&nbsp;anos;<br>- Empenho e
                    busca da verdade;<br>- Se cobra muito;<br>- Pode ter prejuízos por neglingência;<br>- Cuidado ao assumir posições de comando;<br>- Realismo;<br>- Escravo(a) da imprevisibilidade;<br>- Testes de fé e otimismo;<br>- Cuidado com as precipitações;<br>-
                    Quebra velhos valores;<br>- Evite a rigidez consigo mesma;<br>- Não seja radical;<br>- Atenção a acidentes pessoais;<br>- Fortificou-se ou amadureceu através de uma perda;<br>- Convicções poderosas;<br>- Postura honesta;<br>- Fidelidade
                    aos seus princípios;<br>- Não se deixe sucumbir pelas preocupações;<br>- Respeite as hierarquias;<br>- Capacidade construtiva e moderação;<br>- Tem que estar 24 horas com os "pés no chão";<br>- Tire sua "armadura" emocional;<br>- Personalidade
                    marcante;<br>- Vença o pragmatismo ou toda sistemática;<br>- Nunca tenha preconceitos;<br>- Voe baixinho (e depois poderá atingir as alturas);<br>- Evite o fatalismo;<br>- Sintonizado(a) psiquicamente com cataclismas e mudanças no
                    &nbsp;&nbsp;&nbsp;mundo;<br>- Exerça com sabedoria seu poder;<br>- Não seja apressada;<br>- Íntegra e direta nas opiniões;<br>- Trabalhe suas culpas;<br>- Confronta o fanatismo;<br>- Não faça "tempestade de um copo d'água";<br>- Luta
                    para manter a segurança material;<br>- Não imponha nunca;<br>- Zela pela segurança alheia;<br>- Crises de identidade quando adolescente;<br>- Trabalhe o pessimismo ou indiferença;<br>- Cuide da coluna vertebral, articulações, atenção
                    a cortes ou &nbsp;&nbsp;queimaduras;<br>- Tem o poder de derrubar a falsidade ou desmascarar os outros;<br>- Perdas estranhas podem acontecer;<br>- A humildade é caminho para o sucesso;<br>- Quer entender tudo ao mesmo tempo;<br>-
                    Vire a página das antigas dores;<br>- Coordene seu trabalho paralelamente ao emocional;<br>- Vá fundo em si mesma;<br>- Valorize tudo o que tem e agradeça;<br>- Não se puna;<br>- Evite os deprimidos ou pessimistas.<br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center"
                        role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>
   
{% endblock %}