{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><br><img src="{{ url_for('static', filename='img/tarot/7 CARROS.jpg')}}"><strong>&nbsp;&nbsp;7 - O CARRO</strong><br><br>Palavras-Chave:<br>Coragem e Triunfo<br><br>- Acontecimento importante aos 7 anos a nível emocional;<br>- Combativo (a);<br>- Luta ferozmente pelos seus
                    direitos;<br>- Irritação;<br>- Natureza belicosa;<br>- Impulsividade;<br>- Não enxerga o perigo ;<br>- Explosões súbitas de temperamento;<br>- Gosto por direção: automóveis e corridas podem te fascinar;<br>- Quer ganhar todas as jogadas;<br>-
                    Pioneirismo;<br>- Precisa escolher com cuidado o caminho a ser seguido;<br>- Resistências;<br>- Rebeldia;<br>- Ansiedade com tudo;<br>- Avanços rápidos: deve aprender a curtir os pequenos &nbsp;&nbsp;resultados;<br>- Vitória sobre
                    si mesmo (a);<br>- Atenção a cortes e acidentes de percurso;<br>- Deseja vencer os limites;<br>- Não instigue brigas;<br>- Evite as discussões;<br>- Aventureiro (a);<br>- Inquietação;<br>- Evite o individualismo;<br>- Leve até o final
                    o que iniciou;<br>- "Fogo de palha" ;<br>- Quer resultados a curto prazo;<br>- Motivação;<br>- Irresponsabilidade;<br>- Competitivo;<br>- Esporte é uma terapia para você;<br>- Franqueza que machuca;<br>- Tendências a se submeter a
                    cirurgias e operações ;<br>- Liderança;<br>- Vá com calma na resolução de seus problemas;<br>- Impaciência;<br>- Você pode botar tudo a perder pelas palavras;<br>- Cuidado com pernas, músculos, fígado, supra-renais &nbsp;&nbsp;&nbsp;(adrenalina),
                    cabeça;<br>- Reativo;<br>- Fulgaz;<br>- Rápido nas suas colocações;<br>- Seja mais precavido (a) ;<br>- "Um dia da caça, outro do caçador" ;<br>- Necessidade de estar em movimento;<br>- Provocador (a);<br>- Oposição a superiores ou
                    líderes;<br>- Bagunça emocional: não procure competir na relação;<br>- Tudo tem sua hora certa;<br>- Lute por uma coisa de cada vez.<br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button"
                        href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}