{% extends "base.html" %}
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/10 RODA DA FORTUNA.jpg')}}"><strong>&nbsp;&nbsp;10 - A RODA DA FORTUNA</strong><br><br>Palavras-Chave:<br>Renovação e Ciclo<br><br>- Acontecimento importante a nível psicológico aos 10 anos;<br>- Sansara: tudo na sua Vida volta ao
                    seu devido lugar;<br>- Cuidado com a instabilidade pessoal;<br>- Muitos altos e baixos na Vida;<br>- Aprende com rapidez;<br>- Metódico(a) ou sistemático(a);<br>- Crítico(a) consigo mesmo(a);<br>- Imparcialidade;<br>- Cuidado com a
                    dúvidas acerca da capacidade;<br>- Mente agitada;<br>- Muda tudo a toda hora;<br>- Insatisfação;<br>- Inconformismo;<br>- Preocupação com seu destino profissional;<br>- Habilidoso(a);<br>- Deve aprender a não ser radical;<br>- Nervosismo;<br>-
                    Não "ande em círculos" em suas atividades;<br>- Atrai a prosperidade quando despojado;<br>- Pensamentos repetitivos;<br>- Aprecia automóveis ou corridas;<br>- Desinteressa-se fácil;<br>- Amplia ao máximo o seu conhecimento;<br>- Cuidado
                    com o desgaste emocional;<br>- Evite o extremismo nas atitudes;<br>- Quer igualdade;<br>- Aprecia máquinas ou tem que lidar com aparelhos;<br>- Mente mecanicista (lógica e prática);<br>- Os outros não acompanham seu ritmo;<br>- A rotina
                    pode ser esmagante;<br>- Curiosidade;<br>- Expectativa pessoal;<br>- Esforço contínuo;<br>- Quer globalizar (abraçar) todos assuntos;<br>- Atenção quanto a ouvidos, metabolismo, circulação e área &nbsp;&nbsp;neuromuscular;<br>- Eficácia;<br>-
                    Evite a intolerância;<br>- Faça as coisas uma de cada vez;<br>- Gosta de estimativas ou estatística;<br>- Conhece um círculo grande de pessoas;<br>- Não se feche em si mesmo(a).<br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center"
                        role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a></p>
            </div>
        </div>
    </main>


{% endblock %}