{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/9 EREMITA.jpg')}}"><strong>&nbsp;&nbsp;9 - O EREMITA</strong><br><br>Palavras-Chave :<br>Sabedoria Aplicada, Parcimônia e Auto-Respeito<br><br>- Fase de maturação que se iniciou aos 9 anos: aprendeu as &nbsp;coisas cedo;<br>-
                    Falta do pai (afetivamente) ou pai muito rígido;<br>- Respeite o tempo: tudo tem sua hora e momento certo;<br>- Não seja turrão(ona) consigo mesmo(a): saiba ceder;<br>- Gosta de esclarecer todas as dúvidas;<br>- Receio da escassez;<br>-
                    Sentimento de impotência frente a determinados desafios &nbsp;emocionais;<br>- Desejo de ficar sozinho(a) diante de uma dificuldade;<br>- Necessidade de morar sozinho(a) ou não estar preso(a) a &nbsp;nada;<br>- Dificuldades quanto
                    a cursos e estudos no passado: não conseguiu fazer o que realmente queria;<br>- Cuidado com a frieza e distanciamento;<br>- Consegue (reivindica) o que quer de pessoas bem mais velhas;<br>- Não seja intransigente;<br>- Cuidado com
                    as manias de querer resultados à sua maneira;<br>- Devagar e sempre;<br>- Evite o ceticismo ou pragmatismo;<br>- Respeito às leis e princípios humanos;<br>- Não se limite em hipótese alguma;<br>- Fertilidade baixa;<br>- Cuidado com
                    os ossos, cabeça e aparelho digestivo (também radicais livres);<br>- Longevidade;<br>- Capacidade de orientar;<br>- Não tente conseguir as coisas através de "atalhos" em Vida;<br>- Gosto afetivo por pessoas mais velhas ou muito maduras;<br>-
                    Interesse por história ou eventos passados;<br>- Seja solícita sempre;<br>- Não seja cabeça-dura;<br>- Parte de sua missão é ajudar pessoas idosas;<br>- Afeto por avô ou avó (vínculo afetivo forte e atuante);<br>- Não se fixe demais
                    em casa;<br>- Seja ponderada, tenha bom-senso;<br>- Não se acomode;<br>- Sua vida mudará (materialmente pra melhor) principalmente depois &nbsp;dos 45 anos;<br>- Estimule-se praticando atividades físicas;<br>- Gosto por pedras (cristais),
                    objetos antigos ou relógios (e mesmo souvenirs);<br>- Saiba esperar.<br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}