{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/12 PENDURADO.jpg')}}"><strong>&nbsp;&nbsp;12 - O PENDURADO</strong><br><br>Palavras-Chave:<br>Sacrifício e Abnegação<br><br>- Acontecimento marcante a nível psicológico aos &nbsp;&nbsp;12 anos de &nbsp;&nbsp;&nbsp;idade;<br>-
                    Espírito dedicado;<br>- Não pode se apegar a nada, pois corre o risco de perder;<br>- Desapego material;<br>- Renúncias pessoais;<br>- Muito carente emocionalmente;<br>- Não se deixe escravizar pelos outros;<br>- Expectativas;<br>-
                    Redenção;<br>- Cuidado para não cair no complexo de vítima;<br>- Carinho e cuidado;<br>- Insatisfação com as coisas;<br>- Precisa superar seus limites pessoais;<br>- Apreensão ou aperto;<br>- Espiritualismo intenso;<br>- Precisa ser
                    + prático(a);<br>- Necessidade de ser realista e objetiva;<br>- Sensibilidade quanto a dor do outro;<br>- Evite a acomodação;<br>- Êxtase através de experiências espirituais;<br>- Insegurança ou instabilidade;<br>- Não se martirize;<br>-
                    Não faça do parceiro o seu DEUS ou HERÓI;<br>- Intuição aguçada;<br>- Vê as coisas por outro ângulo;<br>- Evite a estagnação;<br>- Produza criando;<br>- Caridade e doação;<br>- Oportunidade de superar seus karmas negativos nessa Vida;<br>-
                    Debilidade orgânica;<br>- Cuidado com a dependência emocional;<br>- Medo dos infortúnios ou fatalidade;<br>- Compreensão;<br>- Presa emocionalmente ao passado;<br>- Ligada à família ou raízes;<br>- Busca interior ou pelo transcendental;<br>-
                    Reflexão;<br>- Não espere as coisas acontecerem: vá à luta;<br>- Saiba ajudar quem se ajuda;<br>- Dó de pessoas carentes, desprotegidas ou animais &nbsp;&nbsp;&nbsp;abandonados;<br>- Vença as fases de depressão trabalhando;<br>- Receio
                    de falhar;<br>- Timidez;<br>- Atenção às pernas, sist. imunológico, pulmões, circulação, &nbsp;&nbsp;ovários;<br>- Precisa dirigir sua vontade;<br>- Aceitação.<br><br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center"
                        role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}