{% extends "base.html" %}
<title> {% block title %}Arcano pessoal - Qael{% endblock %}</title>
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/20 JULGAMENTO.jpg')}}"><strong>&nbsp;20 - O JULGAMENTO</strong><br><br>Palavras-Chave:<br>Ressurgimento Pessoal e Tomada de Consciência<br><br>- Acontecimento importante aos 20 anos de idade, a nível &nbsp;&nbsp;&nbsp;emocional;<br>-
                    Busca de sua vocação ou talento;<br>- Não pré-julgue nada;<br>- Evite olhar para trás (seu passado);<br>- Saiba perdoar para libertar-se;<br>- Vivo interesse por variados conhecimentos;<br>- Agitação interior;<br>- Mente aguçada;<br>-
                    Trabalhe seus condicionamentos;<br>- Procura ser muito funcional em tudo que faz;<br>- Criatividade;<br>- Gosto apurado por música ou determinados sons;<br>- Forte crença em seus valores;<br>- Evite a rigidez;<br>- Atraído(a) por contextos
                    históricos;<br>- Não seja superficial;<br>- Resistência às injustiças;<br>- Colaboração;<br>- Espírito investigador;<br>- Retomada da própria Vida;<br>- Resgate de problemas familiares;<br>- Descoberta de novos potenciais internos;<br>-
                    Produtividade;<br>- Desanima-se por programar algo e não acontecer;<br>- Observador(a);<br>- Anseio por coisas maiores na Vida;<br>- Espírito introspectivo;<br>- Poder de análise;<br>- Idealismo;<br>- Cuidado com a comunicação;<br>-
                    Não tente pregar aos outros sua Verdade;<br>- Capacidade de reformular idéias;<br>- Tenta promover a concórdia;<br>- Às vezes ceticismo;<br>- Não seja sistemático;<br>- Tenta se libertar a todo custo;<br>- Atenção aos brônquios, baço,
                    regeneração celular, ouvidos e &nbsp;&nbsp;articulações;<br>- Lute por seus direitos;<br>- Não se desvie de seus objetivos;<br>- Cuidado com a intransigência;<br>- Seja motivado(a);<br>- Previdência e organização;<br>- Curiosidade
                    por inventos ;<br>- Raciocínio rápido;<br>- Quer provas incontestáveis de tudo;<br>- Mobilidade.<br><br><a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}