{% extends "base.html" %}
{% block content %}

    <main class="page registration-page" style="background-color: rgba(172,112,201,0.14);">
        <div class="container">
            <h1><br>Seu Arcano pessoal é:</h1>
            <div class="d-flex d-md-flex d-lg-flex justify-content-center justify-content-md-center justify-content-lg-center">
                <p class="text-left" style="filter: blur(0px) brightness(100%);font-size: 17px;"><br><img src="{{ url_for('static', filename='img/tarot/3 imperatriz.jpg')}}"><strong>&nbsp;3 - A IMPERATRIZ</strong><br><br>Palavras-Chave: &nbsp;Beleza e Criação<br><br>&nbsp;- Acontecimento importante a nível psicológico aos 3 anos de idade;<br>&nbsp;- Percebe a mãe como símbolo
                    de alegria e liberdade;<br>&nbsp;- Espontaneidade;<br>&nbsp;- Idealismo;<br>&nbsp;- Senso estético apurado;<br>&nbsp;- O Amor é a base de tudo;<br>&nbsp;- Capacidade de gerar muitos projetos e idéias;<br>&nbsp;- Para a mulher: a gravidez
                    é algo fundamental;<br>&nbsp;- Para o homem: ter um filho é uma glória;<br>&nbsp;- Embevecimento;<br>&nbsp;- Cuidado com o narcisismo;<br>&nbsp;- Gosto acentuado pela Natureza;<br>&nbsp;- Sentidos apurados: gosta de tocar e sentir
                    o cheiro das coisas;<br>&nbsp;- Caprichos;<br>&nbsp;- Vença seus ciúmes;<br>&nbsp;- Gosta de decorar ou embelezar o ambiente;<br>&nbsp;- Força emocional;<br>&nbsp;- Romantismo;<br>&nbsp;- Alegria de viver;<br>&nbsp;- Feminista;<br>&nbsp;-
                    Quer se impor socialmente;<br>&nbsp;- Simpatia;<br>&nbsp;- Natureza agradável e festiva;<br>&nbsp;- Sensualidade;<br>&nbsp;- Atração por cores alegres e artigos finos ou de alta qualidade;<br>&nbsp;- Natureza envolvente;<br>&nbsp;-
                    Aprecia namorar e viver momentos afetivos intensamente;<br>&nbsp;- Fertilidade;<br>&nbsp;- Cuidado com a infidelidade;<br>&nbsp;-&nbsp;Perigo: não espere o que quer, que venha sempre fácil demais;<br>&nbsp;- Aprecia estar à frente
                    dos projetos;<br>&nbsp;- Vença a inconstância;<br>&nbsp;- Atenção à volubilidade;<br>&nbsp;- Progressos materiais;<br>&nbsp;- Muitos gastos pessoais;<br>&nbsp;- Indulgência;<br>&nbsp;- Libertação de conceitos;<br>&nbsp;- Falta-lhe
                    bom senso;<br>&nbsp;- Regência sobre as gônadas, pele, garganta, glicose, vitaminas;<br>&nbsp;- Superficialidade;<br>&nbsp;- Pode atrair a competição de pessoas do mesmo sexo;<br>&nbsp;- Riqueza interior;<br>&nbsp;- Motivação pessoal;<br>&nbsp;-
                    Evite as chantagens afetivas;<br>&nbsp;- Luta muito pelos seus sonhos;<br>&nbsp;- Sedução;<br>&nbsp;- Exigente nas relações;<br>&nbsp;- Atrai os outros para si;<br>&nbsp;- Expressão corporal;<br>&nbsp;- Vitalidade e atividade;<br><br>
                    <a
                        class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/tarot" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a><br></p>
            </div>
        </div>
    </main>


{% endblock %}