{% extends "base.html" %}
<title> {% block title %}Tarô - Conheça seu destino com os Arcanos{% endblock %}</title>
{% block content %}

<main class="page registration-page">
    <section class="clean-block clean-form dark" style="background-color: rgba(172,112,201,0.14);margin-top: -50px;height: 800px;">
        <div class="container">
            <div class="block" style="padding-top: 50px; max-width:900px; margin: auto;">
                <h1 class="text-info">Arcano pessoal</h1>
            <h5>Instruções:</h5>
            <ul>
                <li>Insira seu nome completo para saber seu arcano pessoal.</li>
                <li>Não coloque acentos ou outros caractéres além de letras no campo do nome.</li>
                <li>Selecione a opção "Nome de batismo" caso queira descobrir seu arcano de acordo com o seu nome de batismo de Qael ou deixe desmarcado para o seu nome de registro.</li>
                <li>Se atende a grafia do seu nome de batismo, a letra "y" é diferente de "Y" e "ae" é diferente da letra "æ".</li>
                <li>As mulheres casadas devem fazer a análise a partir do nome de solteira.</li>
                <li>Jr. (Júnior), Filho, Neto ou Sobrinho - não precisam ser digitados (Ex. João Oliveira Filho, digite: João Oliveira).</li>
            </ul>
            </div>
            <form method="POST">
                <div class="form-group">
                    <label for="name">Nome completo</label>
                    <input class="form-control item" type="text" name="name" id="name">
                </div>
                <div class="form-check" style="margin-bottom: 16px;">
                    <input type="checkbox" class="form-check-input" name="formCheck-1" id="formCheck-1" />
                    <label class="form-check-label" for="formCheck-1">Nome de batismo</label>
                </div>
                <button class="btn btn-primary btn-block" type="submit" style="background-color: rgba(80,38,130,0.94);">OK</button>
                <!-- <a class="btn btn-primary btn-block" role="button" href="/tarot" style="background-color: rgba(80,38,130,0.94);margin-top: 42px;width: 72px;height: 35px;margin-left: 348px;">Voltar</a> -->
            </form>
        </div>
    </section>
</main>

{% endblock %}