{% extends "base.html" %}
<title> {% block title %}Sobre Qael{% endblock %}</title>
{% block content %}

<main class="page landing-page">
    <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14); margin-top: -55px">
        <div class="container" id="atigos">
            <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                <h1 style="font-weight: normal;font-style: normal;font-size: 40px;">Artigos</h1>
                <!-- <img class="img-thumbnail img-fluid" src="{{ url_for('static', filename='img/maos.jpg') }}" style="background-size: auto;height: 300px;width: 540px;"> -->
            </div>
            <div class="row" data-aos="zoom-in-up">
                <div class="row" data-aos="zoom-in-up">
                    <h3>Deus</h3>
                    <p class="text-left">Sim, somos ateus. Se ser crente significa crer em um ser sentado num trono
                        esperando só Deus sabe o que, para vir e destruir tudo lançando no inferno quem nele não
                        crê, sim somos ateus.
                    </p>
                    <p class="text-left">Se ser religioso significa crer em um ser criador, somos ateus, pois tudo que
                        existe sempre existiu e existirá, criação é uma ilusão da mente humana. As formas físicas
                        mudam, os tempos mudam, os espaços mudam, mas a essência do verdadeiro EU, ou
                        melhor dizendo, do verdadeiro NÓS, é eterno.
                    </p>
                </div>
                <div class="row" data-aos="zoom-in-up">
                    <p class="text-left">Conceituar Deus? Que tolice, a partir do momento que uma mente humana
                        conceitua Deus, ela estará criando um deus. Ele não é homem, ela não é mulher, ile não
                        é não-binário. Não é bom ou mal, amor ou ódio, justo ou injusto. Ao dizer tudo isto devo
                        dizer o contrário, para que uma opaca luz em minha mente me faça Deus. Logo, ele é ela,
                        é ile. É negro, amarelo, vermelho, branco, azul, grey. Bom, justo e injusto, amor e ódio.
                        E assim crio um novo conceito sobre Deus, neste maravilhoso paradoxo. E neste
                        prazeroso contrassenso deixamos de ser ateus, e profundamente dizemos que mais do
                        todos, nós cremos.
                    </p>
                    <p class="text-left">Não louvamos a Deus, pois ele não possui ego para ser massageado. Não o
                        defendemos, pois ele não precisa de advogados. Não o adoramos, pois o único que quer
                        ser adorado é homem. Tudo isso pertence à mente primitiva do primata em evolução, a
                        mente Qæilista, se vê em Deus, com Deus, por Deus, Deus.
                    </p>
                </div>
                <div class="row" data-aos="zoom-in-up">
                    <p class="text-left">Deus vai além de Jeová, Olodumarê, Alá, Brahma, Baal, Iaue ou qualquer
                        outra interpretação sensorial do homem. Dizer que ele possui um rival, um arqui-inimigo,
                        como Lúcifer é reduzir Deus. Dizer que ele não faz o mal é reduzi-lo novamente. Dizer
                        que ele é perfeito e não evolui é reduzi-lo nos curtos limites da perfeição. Dizer que
                        precisamos crer nele é colocá-lo como carente de atenção, logo, ser crente não é nenhuma
                        vantagem de ser ateu, consequentemente, ateísmo não é sinal categórico de inteligência e
                        racionalismo, já que, para descrer de conceitos tolos não se faz necessário alto nível de
                        cognição.
                    </p>
                    <p class="text-left">Gosto dessa palavra, Deus, ela me passa o mesmo nível de força e
                        neutralidade. Não pertence a ninguém. Alá pertence aos mulçumanos, apesar dos cristãos
                        não usarem a palavra Jeová ou Iawé, sabemos que esse é o nome do deus deles, Brahma
                        pertence ao hinduísmo, apesar dos budistas não crer em Deus sabemos que Buda é o deus
                        deles, o ateísmo talvez, seja o deus mais fanático e prepotente de todos. Eu gosto da
                        palavra Deus, em sua força e neutralidade, une crente, descrentes e ateus em um só
                        rebanho.
                    </p>
                    <div class="col align-items-right">
                        <p style="text-align: right;">Yá Ben</p>
                    </div> 
                </div>
                <br>
            </div>
        </div>
        <nav class="navbar navbar-dark fixed-top bg-secondary off-canvas" data-right-drawer="0" data-open-drawer="0" style="margin-top: 75px;background: linear-gradient(90deg, rgb(97,46,158) 0%, rgb(89,54,171));border-bottom-right-radius: 39px;">
            <div class="container-fluid flex-column"><button class="btn drawer-knob" type="button" data-open="drawer" style="background: rgb(211,172,42);"><i class="fas fa-bars"></i></button>
                <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">Artigos</a><button class="btn" type="button" data-dismiss="drawer" style="background: rgb(211,172,42);"><span class="sr-only">Toggle Navigation </span><i class="fas fa-times mx-auto"></i></button></div>
                <ul class="nav navbar-nav flex-column drawer-menu">
                    <li class="nav-item"><a class="nav-link active" href="/artigos/deus">Deus</a></li>
                    <li class="nav-item"><a class="nav-link" href="/artigos/yashoa">Yashoa</a></li>
                    <li class="nav-item"><a class="nav-link" href="/artigos/famulus">Famulus</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sobre_nos">Os Filhos de Qæl</a></li>
                </ul>
            </div>
        </nav>
    </section>
</main>

{% endblock %}