{% extends "base.html" %}
<title> {% block title %}Sobre Qael{% endblock %}</title>
{% block content %}

<main class="page landing-page">
    <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14); margin-top: -55px">
        <div class="container" id="atigos">
            <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                <h1 style="font-weight: normal;font-style: normal;font-size: 40px;">Artigos</h1>
                <!-- <img class="img-thumbnail img-fluid" src="{{ url_for('static', filename='img/maos.jpg') }}" style="background-size: auto;height: 300px;width: 540px;"> -->
            </div>
            <div class="row" data-aos="zoom-in-up">
                <h3>Yashoa</h3>
                <div class="row" data-aos="zoom-in-up">
                    <div class="col align-items-right">
                        <p style="text-align: right;">Não tenho a menor dúvida de que Cristo
                            existiu, não temos a capacidade de inventá-lo.</p>
                    </div> 
                    <p class="text-left">Existem dois Cristos, um criado pela igreja e outro que viveu a mais
                        dois mil anos, ambos de suma importância para a nossa ascensão. De um lado um
                        mestre iluminado que trabalhou, sofreu, se apaixonou, buscou avidamente e
                        construiu cabalmente sua iluminação; de outro um super-homem inalcançável,
                        cujo cotidiano de sua infância e juventude foi escondida de todos nós. 
                    </p>
                    <p class="text-left">Se ser religioso significa crer em um ser criador, somos ateus, pois tudo que
                        existe sempre existiu e existirá, criação é uma ilusão da mente humana. As formas físicas
                        mudam, os tempos mudam, os espaços mudam, mas a essência do verdadeiro EU, ou
                        melhor dizendo, do verdadeiro NÓS, é eterno.Apesar do super-homem ter sido criado para manipular a grande massa
                        da sociedade, promover divisões e guerras, situação até hoje presente, ainda assim
                        cooperou para trazer uma imagem de Deus para um povo necessitado de julgar
                        tudo pelos sentidos. A ideia de Deus encarnado vem através dos séculos
                        abrandando a violência internalizada na natureza humana. Acredite, o mundo
                        estaria pior sem essa ideia, eu sei que parece contraditório, mas esse é um paradoxo
                        real, a catarse pela violência.
                    </p>
                </div>
                <div class="row" data-aos="zoom-in-up">
                    <p class="text-left">Já o mestre, o homem, aquele que com esforço construiu a sua luz, nos
                        faz ver o quão é possível alcançar o amor em seu mais alto nível. Este Cristo
                        acessível nos revela que não somos lagartas adorando uma borboleta, mas
                        discípulos que compreendem a importância da transformação, somos lagartas em
                        plena metamorfose. O objetivo não é adorar, mas tornar-se, não somos servos,
                        somos amigos.
                        
                    </p>
                </div>
                <div class="row" data-aos="zoom-in-up">
                    <p class="text-left">Entenda que Yashoa esteve aqui a dois mil anos, o Cristo sou eu, é você
                        é todo aquele que nasceu de novo, não pela carne, mas em espírito, que vive uma
                        vida reta e digna no amor e que faz com que o seu velho eu morra em uma cruz
                        para ressuscitar filho do Altíssimo.
                    </p>
                    <p class="text-left">A mente preguiçosa, orgulhosa e mergulhada em culpa idolatra o
                        inalcançável para se sentir escusada do compromisso de mudança. O ser que luta
                        pela sua elevação se torna amigo do mestre Yashoa para se tornar Cristo.
                        
                    </p>
                    <div class="col align-items-right">
                        <p style="text-align: right;">Yá Ben</p>
                    </div> 
                </div>
                <br>
            </div>
        </div>
        <nav class="navbar navbar-dark fixed-top bg-secondary off-canvas" data-right-drawer="0" data-open-drawer="0" style="margin-top: 75px;background: linear-gradient(90deg, rgb(97,46,158) 0%, rgb(89,54,171));border-bottom-right-radius: 39px;">
            <div class="container-fluid flex-column"><button class="btn drawer-knob" type="button" data-open="drawer" style="background: rgb(211,172,42);"><i class="fas fa-bars"></i></button>
                <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">Artigos</a><button class="btn" type="button" data-dismiss="drawer" style="background: rgb(211,172,42);"><span class="sr-only">Toggle Navigation </span><i class="fas fa-times mx-auto"></i></button></div>
                <ul class="nav navbar-nav flex-column drawer-menu">
                    <li class="nav-item"><a class="nav-link active" href="artigos/deus">Deus</a></li>
                    <li class="nav-item"><a class="nav-link" href="artigos/yashoa">Yashoa</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sobre_nos">Os Filhos de Qæl</a></li>
                </ul>
            </div>
        </nav>
    </section>
</main>

{% endblock %}