{% extends "base.html" %}
{% block content %}

<main class="page contact-us-page">
    <section class="clean-block clean-form dark" style="background-color: rgba(172,112,201,0.14);margin-top: -50px;padding-bottom: 503px;">
        <div class="container text-center">
            <div class="text-center d-flex flex-column align-items-center block-heading">
                <h1>Obrigado!</h1>
                <p>Entraremos em contato o mais rápido possível.<br><br><br></p><a class="btn btn-outline-light btn-lg text-center" role="button" href="/" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 185px;margin-top: -10px;">Voltar</a>
            </div>
        </div>
    </section>
</main>

{% endblock %}