{% extends "base.html" %}

<title> {% block title %}Downloads{% endblock %}</title>
        {% block title_meta %}Downloads{% endblock %}

{% block description %}Baixe os arquivos relevantes da comunidade. {% endblock %}

{% block keyword %} Downloads {% endblock %}

{% block content %}

<main class="page registration-page">
    <section class="clean-block clean-form dark" style="background-color: rgba(172,112,201,0.14);margin-top: -50px;height: 800px;">
        <div class="container">
            <div class="block" style="padding-top: 50px; max-width:900px; margin: auto;">
                <h1 style="margin-bottom: 25px;">
                    Baixe os arquivos relevantes da comunidade.
                </h1>
                <h3>Livros:</h3>
                <ul>
                    <li><a href="static\downloads\TEMPERAMENTOS DA ALMA HUMANA.pdf" download="TEMPERAMENTOS DA ALMA HUMANA">Temperamentos segundo Qael</a></li>
                    <li><a href="static\downloads\Totens.pdf" download="Totens">Totens de Qael</a></li>
                    <li><a href="static\downloads\O BATISMO DE SANGUE.pdf" download="O BATISMO DE SANGUE">O batismo de sangue</a></li>
                    <li><a href="static\downloads\Batismo vermelho MataHari.pdf" download="Batismo vermelho MataHari">Batismo vermelho MataHari</a></li>
                    <li><a href="static\downloads\MATAHARI.pdf" download="MATAHARI">Matahari</a></li>
                    <li><a href="static\downloads\O RITO DA KUNDALINI.pdf" download="O RITO DA KUNDALINI">O rito da Kundalini</a></li>
                    <li><a href="static\downloads\Qælista.pdf" download="Os Filhos de Qæl">Os Filhos de Qæl</a></li>
                    <li><a href="static\downloads\Deus.pdf" download="Deus">Deus<a></li>
                    <li><a href="static\downloads\yashoa.pdf" download="Yashoa">Yashoa<a></li>
                    <li><a href="static\downloads\FAMULUS.pdf" download="Famulus">Famulus<a></li>
                    <!-- <li><a href="static\downloads\Shoa QIANT.pdf" download="Shoa QIANT">Shoa Qiant</a></li> -->
                </ul>
                <h3>Letras das Músicas:</h3>
                <ul>
                    <li><a href="static\downloads\Cânticos de Qael.pdf" download="Cânticos de Qael">Cânticos de Qael</a></li>
                    <li><a href="static\downloads\BABÁ MI.pdf" download="Babá mi">Babá Mi</a></li>
                    <li><a href="static\downloads\YARA CIFRA.pdf" download="Yara">Yara</a></li>
                    <li><a href="static\downloads\ONRDÊ-1.pdf" download="Onrdê">Onrdê</a></li>
                </ul>
        </div>
        </div>
    </section>
</main>

{% endblock %}