{% extends "base.html" %}
{% block content %}

<main class="page registration-page">
    <section class="clean-block clean-form dark" style="background-color: rgba(172,112,201,0.14); margin-top: -30px; height: 800px">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Numerologia</h2>
                <p>Insira seus dados e se conheça melhor.</p>
            </div>
            <form method="post">
                <div class="form-group">
                    <label for="name">Nome completo</label>
                    <input class="form-control item" type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="date">Data de nascimento</label>
                    <input class="form-control" name="date" type="date">
                </div>
                <button class="btn btn-primary btn-block" type="submit"  id="calcular" style="background-color: rgba(80,38,130,0.94);">Calcular</button>
            </form>
        </div>
    </section>
</main>


{% endblock %}
