{% extends "base.html" %}

<title> {% block title %}Se conheça melhor com a Numerologia de Qael{% endblock %}</title>
        {% block title_meta %}Se conheça melhor com a Numerologia de Qael{% endblock %}

{% block description %}Baixe os arquivos relevantes da comunidade.A numerologia permite a interpretação de nomes, situações e personalidades,
baseando-se na simbologia dos números e trazendo, assim, ensinamentos. Através dessa crença podemos saber qual é a nossa missão de vida e descobrir se estamos na direção correta para alcançá-la. {% endblock %}

{% block content %}
<main class="page registration-page">
    <section class="clean-block clean-form dark" style="background-color: rgba(172,112,201,0.14);margin-top: -60px;height: 800px;">
        <div class="container">
            <div class="block-heading">
                <h1 class="text-dark">Numerologia</h1>
                <p>Resultado</p>
            </div>
            <div class="table-responsive">

                {% if (nome and data): %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>NOME: {{nome}}</th>
                            <th style="margin-top: 0px;">ANIVERSARIO: {{data}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>EXTERIOR: {{resultNome['CONSOANTE']}}</td>
                            <!-- <td>DIA: {{resultData['DIA']}}</td> -->
                            <td></td>
                        </tr>
                        <tr>
                            <td>INTERIOR: {{resultNome['VOGAL']}}</td>
                            <!-- <td>MES: {{resultData['MES']}}</td> -->
                            <td></td>
        
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <!-- <td>ANO: {{resultData['ANO']}}</td> -->
                        </tr>
                        <tr>
                            <td>ESSÊNCIA: {{resultNome['TOTAL']}}</td>
                            <td>DESTINO: {{resultData['TOTAL']}}</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
                {% elif (nome) %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>NOME: {{nome}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>EXTERIOR: {{resultNome['CONSOANTE']}}</td>
                        </tr>
                        <tr>
                            <td>INTERIOR: {{resultNome['VOGAL']}}</td>
                        </tr>
                        <tr>
                            <td>ESSÊNCIA: {{resultNome['TOTAL']}}</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
                {% elif (data) %}
                <table class="table">
                    <thead>
                        <tr>
                            <th style="margin-top: 0px;">ANIVERSARIO: {{data}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>DIA: {{resultData['DIA']}}</td>
                        </tr>
                        <tr>
                            <td>MES: {{resultData['MES']}}</td>
                        </tr>
                        <tr>
                            <td>ANO: {{resultData['ANO']}}</td>
                        </tr> -->
                        <tr>
                            <td>DESTINO: {{resultData['TOTAL']}}</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
            <h4 class="text-left text-dark d-inline" style="width: 1107px;height: 134px;margin-left: 0px;">
                <br><br>Site em construção, a traduçao dos números serão em breve adicionadas. Até lá, leia mais sobre seus números&nbsp;
                <a target="_blank" href="https://www.wemystic.com.br/numerologia/">
                    AQUI!
                </a>
                <br>
            </h4>
            <br><br>
            <a class="btn btn-outline-light btn-lg d-lg-flex justify-content-lg-center" role="button" href="/numerologia" style="background-position: center;background-color: rgba(80,38,130,0.94);color: rgb(255,255,255);width: 93px;">Voltar</a>
        </div>
    </section>
</main>

{% endblock %}