{% extends "base.html" %}
<title> {% block title %}Sobre Qael{% endblock %}</title>
{% block content %}

<main class="page landing-page">
    <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14); margin-top: -55px">
        <div class="container" id="sobre_nos">
            <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                <h1 style="font-weight: normal;font-style: normal;font-size: 40px;">Sobre nós Qælistas</h1>
                <img class="img-thumbnail img-fluid" src="{{ url_for('static', filename='img/maos.jpg') }}" style="background-size: auto;height: 300px;width: 540px;">
            </div>
            <div class="row" data-aos="zoom-in-up">
                <div class="row" data-aos="zoom-in-up">
                    <h3>Os Filhos de Qæl</h3>
                    <p class="text-left">Qæl significa, o desenvolvimento da consciência divina e os seus filhos são
                        chamados de Qæilistas. O objetivo desse estudo é definir o perfil de um filho de Qæl para
                        ajudar aquele que precisa de parâmetros para se encontrar.
                    </p>
                    <p class="text-left">Ser um Qæilista não é melhor nem pior, superior ou inferior do que ser um
                        religioso ou um ateu, um artista ou um filósofo, é apenas um marco nesse Caminho
                        infinito em que todas as consciências caminham. Logo, a finalidade de se identificar é
                        apenas de orientação, uma identificação necessária dentro desse viver neste mundo.
                    </p>
                    <p class="text-left">Enquanto estamos vivendo em carne, nessa dimensão se faz necessário a
                        identificação, os marcos, os parâmetros, a comparação. As divisões existem, os grupos
                        existem, as barreiras, os muros existem, negar essa realidade é criar um mundo utópico.
                        O importante para a nossa saúde mental é conseguir viver em meio a tudo isto em respeito,
                        dignidade e acima de tudo humildade. E quando digo humildade quero dizer, a coragem
                        de se ver o quão grande e valoroso você é, sem que isso o faça se sentir melhor que o
                        outro, mas ao mesmo tempo, o reconhecimento de que por maior que seja estará sempre
                        crescendo e aprendendo, pois não existe perfeição, isso é humildade.
                    </p>
                </div>
                <div class="row" data-aos="zoom-in-up">
                    <p class="text-left">Como Qæilista você estará em níveis superiores à grande maioria dos grupos,
                        o que foi revelado a nós foi revelado a poucos, nosso Caminhar é único e elevado, ainda
                        assim, sempre haverá uma pequena minoria acima de nós, e por isso quero dizer
                        novamente, essa verdade não nos faz melhores ou piores que ninguém, apenas nos define
                        no Caminho que pertence a todos. 
                    </p>
                    <p class="text-left">A seguir abordaremos de forma simples e sem profundidade as características
                        que definem um filho de Qæl cabe a você decidir se escolhe trilhar o Caminho. Portanto
                        não se engane, ou se vive completamente Qæl ou o abandona, não existe Qæilista não
                        praticante. Não perca seu tempo simulando a Vida, pois em algum momento de lucidez
                        você irá perceber que se enganou mais do que aos outros
                    </p>
                    <div class="col align-items-right">
                        <p style="text-align: right;">Yá Ben</p>
                    </div> 
                </div>
                <br>
            </div>
        </div>
        <nav class="navbar navbar-dark fixed-top bg-secondary off-canvas" data-right-drawer="0" data-open-drawer="0" style="margin-top: 75px;background: linear-gradient(90deg, rgb(97,46,158) 0%, rgb(89,54,171));border-bottom-right-radius: 39px;">
            <div class="container-fluid flex-column"><button class="btn drawer-knob" type="button" data-open="drawer" style="background: rgb(211,172,42);"><i class="fas fa-bars"></i></button>
                <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">Artigos</a><button class="btn" type="button" data-dismiss="drawer" style="background: rgb(211,172,42);"><span class="sr-only">Toggle Navigation </span><i class="fas fa-times mx-auto"></i></button></div>
                <ul class="nav navbar-nav flex-column drawer-menu">
                    <li class="nav-item"><a class="nav-link active" href="/artigos/deus">Deus</a></li>
                    <li class="nav-item"><a class="nav-link" href="/artigos/yashoa">Yashoa</a></li>
                    <li class="nav-item"><a class="nav-link" href="/artigos/famulus">Famulus</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sobre_nos">Os Filhos de Qæl</a></li>
                </ul>
            </div>
        </nav>
    </section>
</main>

{% endblock %}