{% extends "base.html" %}
<title> {% block title %}O que é tarô?{% endblock %}</title>
{% block content %}

<main class="page landing-page">
    <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14);margin-top: -60px;">
        <div class="container" id="taro">
            <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                <h1 class="text-nowrap text-truncate text-center" style="font-weight: normal;font-style: normal;font-size: 54px;">Tarô</h1>
                <img class="img-fluid" src="{{ url_for('static', filename='img/tarot/cartas-de-tarot-para-2020.jpg') }}" style="width: 558px;">
            </div>
            <div class="row align-items-center visible" data-aos="zoom-in-up">
                <div class="col" style="padding-top: 35px;">
                    <div class="text-left getting-started-info">
                        <h3 style="margin-bottom: 5px;"></h3>
                        <p class="text-left" style="margin-top: -95px;"><br></p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center" data-aos="zoom-in-up">
                <div class="col" style="padding-top: 35px;margin-top: -30px;">
                    <div class="text-left getting-started-info">
                        <h2 style="margin-bottom: 5px;"><strong>O que é Tarô?</strong></h2>
                        <p class="text-left">
                            <br>T<em>arot</em>, baralho ou&nbsp;<em>arcanos maiores e menores</em>&nbsp;, consistem numa única e mesma coisa. Trata-se de um jogo de 78 cartas, que se difunde a partir da segunda metade do século 14, na Europa cristã, com
                            iconografia cristã.<br><br>Alem de um jogo o tarot, ou tarô, pode ser entendido como uma linguagem simbólica que traduz o cosmo em sua constituição e eterna mudança, em sua estrutura e dinâmica. Ele aparece na Europa, num
                            momento em que várias escolas esotéricas e corporações de artistas, buscavam transmitir conhecimentos, não por palavras, mas por imagens que convidavam à reflexão, à investigação, para serem corretamente assimiladas. É
                            o caso, por exemplo, dos mestres e praticantes da Alquimia, que produziram livros de gravuras, sem maiores comentários por escrito, conhecidos como&nbsp;<em>Mutus Liber, &nbsp;do latim significa Livro mudo. Aqui so falaremos sobre os Arcanos Maiores.</em><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center" data-aos="zoom-in-up">
                <div class="col" style="padding-top: 35px;">
                    <div class="text-left getting-started-inf">
                        <h2 style="margin-bottom: 5px;"><strong>O que sao arcanos maiores?</strong></h2>
                        <p class="text-left" style="margin-bottom: 0px;">
                            <br>Também conhecidos como trunfos, os Arcanos Maiores revelam as&nbsp;lições espirituais&nbsp;que você terá que aprender na vida, enquanto que os Arcanos Menores falam mais sobre os eventos que acontecem. A palavra “Arcano”
                            significa “segredo, mistério”. Os 22 Arcanos Maiores do Tarot são cartas poderosas que revelam quais são as situações que provavelmente você não conseguirá escapar delas.&nbsp;<br><br>Os seus Arcanos Maiores estão gravados
                            no seu destino. Eles irão aparecer na sua vida em algum momento e você terá que encontrar uma maneira de aprender com eles para que consiga encontrar&nbsp;felicidade&nbsp;e paz em todas as áreas da sua vida. O&nbsp;livre
                            arbítrio, nesses casos, aparece na forma como você escolhe solucionar o problema.<br><br>Algumas das grandes lições espirituais dos Arcanos Maiores referem-se a fé, rendição, o poder de cura da solidão,&nbsp;sabedoria,
                            morte e renascimento, curando seu eu sombrio e paciência.<br><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border rounded-0 d-sm-flex clean-block add-on call-to-action blue" style="background-image: url(&quot;{{ url_for('static', filename='img/barra.png')}}&quot;);background-position: top;background-size:cover;background-repeat: no-repeat;height: 113px;">
            <a class="btn btn-outline-light text-uppercase text-center" role="button" href="/arcano" style="height: 35px;background-color: rgba(255,255,255,0.08);">DESCUBRA SEU ARCANO PESSOAL</a>
        </div>
        <div class="container" id="cartas">
            <ul class="cards">
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_22_louco.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/0-22-louco.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">LOUCO</h3>            
                                </div>
                            </div>
                            <p class="card__description">0-22</p>
                        </div>
                    </a>      
                </li>
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_01_magico.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/mago-01.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">MAGICO</h3>            
                                </div>
                            </div>
                            <p class="card__description">1</p>
                        </div>
                    </a>      
                </li>
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_02_papisa.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/2 papisa.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">PAPISA</h3>            
                                </div>
                            </div>
                            <p class="card__description">2</p>
                        </div>
                    </a>      
                </li>
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_03_imperatriz.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/3 imperatriz.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">IMPERATRIZ</h3>            
                                    <!-- <span class="card__status">0-22</span> -->
                                </div>
                            </div>
                            <p class="card__description">3</p>
                        </div>
                    </a>      
                </li>
            </ul>
            <ul class="cards">
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_04_imperador.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/4 imperador.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">IMPERADOR</h3>            
                                </div>
                            </div>
                            <p class="card__description">4</p>
                        </div>
                    </a>      
                </li>
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_05_papa.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/5 PAPA.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">PAPA</h3>            
                                </div>
                            </div>
                            <p class="card__description">5</p>
                        </div>
                    </a>      
                </li>
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_06_enamorado.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/6 NAMORADOS.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">NAMORADOS</h3>            
                                </div>
                            </div>
                            <p class="card__description">6</p>
                        </div>
                    </a>      
                </li>
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_07_carro.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/7 CARROS.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">CARROS</h3>            
                                    <!-- <span class="card__status">0-22</span> -->
                                </div>
                            </div>
                            <p class="card__description">7</p>
                        </div>
                    </a>      
                </li>
            </ul>
            <ul class="cards">
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_08_justica.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/8 JUSTIÇA.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">JUSTIÇA</h3>            
                                </div>
                            </div>
                            <p class="card__description">8</p>
                        </div>
                    </a>      
                </li>
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_09_ermitao.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/9 EREMITA.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">EREMITA</h3>            
                                </div>
                            </div>
                            <p class="card__description">9</p>
                        </div>
                    </a>      
                </li>
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_10_roda_fortuna.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/10 RODA DA FORTUNA.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">RODA DA FORTUNA</h3>            
                                </div>
                            </div>
                            <p class="card__description">10</p>
                        </div>
                    </a>      
                </li>
                <li>
                    <a href="http://www.clubedotaro.com.br/site/m32_11_forca.asp" target="_blank" class="card">
                        <img src="{{ url_for('static', filename='img/tarot/11 FORÇA.jpg') }}" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">FORÇA</h3>            
                                    <!-- <span class="card__status">0-22</span> -->
                                </div>
                            </div>
                            <p class="card__description">11</p>
                        </div>
                    </a>      
                </li>
            </ul>
            <ul class="cards">
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_12_pendurado.asp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/12 PENDURADO.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">PENDURADO</h3>            
                            </div>
                        </div>
                        <p class="card__description">12</p>
                    </div>
                </a>      
            </li>
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_13_sem_nome.asp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/13 MORTE.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">MORTE</h3>            
                            </div>
                        </div>
                        <p class="card__description">13</p>
                    </div>
                </a>      
            </li>
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_14_temperanca.asp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/14 TEMPERANÇA.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">TEMPERANÇA</h3>            
                            </div>
                        </div>
                        <p class="card__description">14</p>
                    </div>
                </a>      
            </li>
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_15_diabo.asp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/15 DIABO.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">DIABO</h3>            
                                <!-- <span class="card__status">0-22</span> -->
                            </div>
                        </div>
                        <p class="card__description">15</p>
                    </div>
                </a>      
            </li>
        </ul>
        <ul class="cards">
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_16_torre.asp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/16 TORRE.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">TORRE</h3>            
                            </div>
                        </div>
                        <p class="card__description">16</p>
                    </div>
                </a>      
            </li>
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_17_estrela.asp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/17 ESTRELA.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">ESTRELA</h3>            
                            </div>
                        </div>
                        <p class="card__description">17</p>
                    </div>
                </a>      
            </li>
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_18_lua.asp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/18 LUA.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">LUA</h3>            
                            </div>
                        </div>
                        <p class="card__description">18</p>
                    </div>
                </a>      
            </li>
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_19_solasp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/19 SOL.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">SOL</h3>            
                                <!-- <span class="card__status">0-22</span> -->
                            </div>
                        </div>
                        <p class="card__description">19</p>
                    </div>
                </a>      
            </li>
        </ul>
        <ul class="cards">
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_20_julgamento.asp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/20 JULGAMENTO.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">JULGAMENTO</h3>            
                            </div>
                        </div>
                        <p class="card__description">20</p>
                    </div>
                </a>      
            </li>
            <li>
                <a href="http://www.clubedotaro.com.br/site/m32_21_mundo.asp" target="_blank" class="card">
                    <img src="{{ url_for('static', filename='img/tarot/21 MUNDO.jpg') }}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <div class="card__header-text">
                                <h3 class="card__title">MUNDO</h3>            
                            </div>
                        </div>
                        <p class="card__description">21</p>
                    </div>
                </a>      
            </li>
            <li></li>
            <li></li>
        </ul>
            <!-- <div class="row align-items-center" data-aos="zoom-in-up">
                <div class="col" style="padding-top: 35px;margin-top: 0px;">
                    <div class="text-center getting-started-info">
                        <h2 style="margin-bottom: 20px;">Clique nas cartas para conhece-las.</h2>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center" style="margin-bottom: 20px;">
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_22_louco.asp" title="Clique para mais detalhes desta carta" class="fill-div">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/0-22-louco.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 0 ou 22 - LOUCO</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_01_magico.asp" title="Clique para mais detalhes desta carta" class="fill-div">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/mago-01.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 1 - MAGO</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_02_papisa.asp" title="Clique para mais detalhes desta carta" class="fill-div">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/2 papisa.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 2 - PAPISA</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_03_imperatriz.asp" title="Clique para mais detalhes desta carta" class="fill-div">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/3 imperatriz.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 3 - IMPERATRIZ</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin-bottom: 20px;">
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_04_imperador.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/4 imperador.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 4 - IMPERADOR</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_05_papa.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/5 PAPA.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 5 - PAPA</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_06_enamorado.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/6 NAMORADOS.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 6 - NAMORADOS</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_07_carro.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/7 CARROS.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 7 - CARRO</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin-bottom: 20px;">
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_08_justica.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/8 JUSTIÇA.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 8 - JUSTIÇA</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_09_ermitao.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/9 EREMITA.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 9 - EREMITA</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_10_roda_fortuna.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/10 RODA DA FORTUNA.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 10 - RODA DA FORTUNA</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_11_forca.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/11 FORÇA.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 11 - FORÇA</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin-bottom: 20px;">
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_12_pendurado.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/12 PENDURADO.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 12 - PENDURADO</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_13_sem_nome.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/13 MORTE.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 13 - MORTE</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_14_temperanca.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/14 TEMPERANÇA.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 14 - TEMPERANÇA</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_15_diabo.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/15 DIABO.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 15 - DIABO</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin-bottom: 20px;">
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_16_torre.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/16 TORRE.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 16 - TORRE</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_17_estrela.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/17 ESTRELA.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 17 - ESTRELA</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_18_lua.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/18 LUA.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 18 - LUA</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_19_sol.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/19 SOL.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 19 - SOL</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin-bottom: 20px;">
                            <div class="col-md-3 justify-content-center">

                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_20_julgamento.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/20 JULGAMENTO.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 20 - JULGAMENTO</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">
                                <a href="http://www.clubedotaro.com.br/site/m32_21_mundo.asp">
                                    <div class="row justify-content-center">
                                        <img src="{{ url_for('static', filename='img/tarot/21 MUNDO.jpg') }}">
                                    </div>
                                    <div class="row justify-content-center">
                                        <label> 21 - MUNDO</label>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 justify-content-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
</main>

{% endblock %}