{% extends "base.html" %}
{% block content %}

<main class="page landing-page">
    <section class="clean-block clean-info dark" style="background-color: rgba(172,112,201,0.14); margin-top: -55px">
        <div class="container" id="temperamentos">
            <div data-aos="zoom-in-up" class="block-heading" style="filter: grayscale(0%);">
                <h1 style="font-weight: normal;font-style: normal;font-size: 40px;">Temperamentos da Personalidade Humana</h1><br><img class="img-thumbnail img-fluid" src="{{ url_for('static', filename='img/personalidad-1.jpg') }}" style="background-size: auto;height: 300px;width: 540px;margin-top: 20px;">
            
                <p style="font-size: 15px"><em>Nenhum conceito reduz o homem a ponto de defini-lo.<br>
                Benqehi Fazu Shoa<br></em></p>
            </div>
            <div class="row" data-aos="zoom-in-up">

                <div class="row" data-aos="zoom-in-up">
                    <h3>O que é temperamento?</h3><br>
                        <p class="text-left">O filósofo grego Hipócrates, pai da medicina, formulou a teoria dos temperamentos da personalidade humana separando-os em quatro: Colérico, Fleumático, Nervoso (mais tarde renominado como Melancólico) e Sanguíneo. Associou cada um deles com partes do organismo humano, bilis amarela, fleuma, sangue, e bílis negra.</p>

                        <p class="text-left">Nesse estudo não faremos tal associação com as partes do corpo humano, entendemos que as características do temperamento são herdadas geneticamente, não somente pelos pais, mas também avós. A genética era até então, uma ciência desconhecida pelo pai da medicina, logo, somente em nosso tempo podemos compreender claramente os fatores hereditários que ditam nosso comportamento.</p>

                        <p class="text-left">Esse estudo que propomos é um instrumento de autoidentificação, um norteador, um marco no caminho do autoconhecimento. Ajuda-nos a uma melhor compreensão de nós mesmos, mas, não serve para dizer quem somos. Somente a longa estrada da autoreflexão pode ajudar a nos conhecer profundamente. Não podemos esquecer que na personalidade ainda existem outros elementos como as lembranças, os traumas, dores, experiências acumuladas, herança genética e tantos outros fatores que irão compor o grande mosaico do Eu.</p>

                        <p class="text-left">O homem que se dedicou em se analisar e em se observar no percurso de sua vida, e fez isso com dedicação e com a consciência de que nenhum outro conhecimento seria mais importante e de maior valor do que o autoconhecimento, pode em sua adultez psicológica dizer: eu sei quem sou, e mesmo essa afirmação não significa que encerramos a arte de nos conhecer, e que bom que seja assim, pois, não há prazer maior do que se descobrir a cada manhã.</p>

                        <p class="text-left">Nasci melancólico-sanguineo e não consigo imaginar esta jornada, agora já quase no final, de outra forma. As boas e más qualidades que eu precisava para me descobrir estavam lá, em meu interior. Amei e odiei meu temperamento, ri e chorei de mim mesmo, às vezes desejei ter tido outro, outras vezes me senti superior aos outros por conta dele, mas quando cheguei à maturidade simplesmente entendi que tinha exatamente o que precisava ter, o que não era motivo nem de orgulho, nem de medo só então depois disso tudo consegui dominá-lo.</p>
                </div>
                <br>
                <div class="row" data-aos="zoom-in-up">
                    <h3>Por que estudar sobre os temperamentos?</h3><br>

                    <p class="text-left">Porque seremos melhores. Ansiamos por melhorar cada área de nosso ser. Essa vontade faz parte de nossa natureza, a edificação humana. Através desse estudo você poderá amadurecer na compreensão de seus sentimento e atos.</p>

                    <p class="text-left">A mudança é real e não apenas isso, ela é necessária, não estamos fadados a morrermos como nascemos. Enquanto estamos vivos, não importa a idade que tenhamos, podemos nos mudar e podemos cooperar na mudança daqueles que estão próximos de nós. Por isso existe ensino, educação, discipulado, amizade, amor. Ninguém se muda sozinho, na verdade todo crescimento interior se dá por meio de duas forças, interna e externa. É a minha força de vontade aliada a ajuda de quem caminha comigo que trará a transformação. Ao longo da senda já quase percorrida devo a muitos a consciência de quem sou. Cada palavra e cada exemplo de como se deve e como não se deve ser, compõe um pequeno tijolo desse enorme edifício em que me torno.</p>

                    <p class="text-left">Por isso, o estudo desse assunto, para nos conhecer melhor, para entender melhor quem está ao meu lado, para ser apoio ao que anseia mudar sua vida, para facilitar o processo de transformação. É preciso ter em mente, porém, que os conhecimentos que adquiro devem sempre servir para o bem e nunca para manipular o mais frágil, machucar o mais sensível, pois fazendo assim me afasto da humanidade que em mim luta contra a condição primitiva do que fui.</p>

                    <p class="text-left">Enfim, precisamos entender sobre o conjunto das qualidades de nossa alma para dominar as partes negativas de nossa personalidade, porque enquanto não o fizermos seremos escravos de nossas emoções, de nossos desejos. Escravo de erros e dores que se repetem ciclicamente ao longo de nossa existência, impedindo a compreensão de quem realmente somos.</p>
                    
                    <p class="text-left">Não é possível mudar ou estinguir o tempero com o qual nascemos, quem nasce com o temperamento Fleumático morrerá com o mesmo temperamento, mas podemos e devemos ser senhores de nossas emoções, podemos de forma racional estarmos acima das características brutas que tanto nos atrapalham em nossos relacionamentos, isso sim, é a verdadeira adultez, um estado sólido de mente e alma e não somente um acúmulo de anos mal vividos. Conhecer sobre temperamentos é aprender sobre si mesmo e sobre o próximo. O objetivo é melhorar a inter-relação em casa e na sociedade através de um autoencontro.</p>
                </div>
                <br>
                <div class="row" data-aos="zoom-in-up">
                    <h3>Temperamento e seus sujeitos</h3><br>

                    <p class="text-left">Todo livro ou texto na internet que já li sobre esse assunto trata do tempero da personalidade de forma isolada: Colérico, Fleumático, Melancólico e Sanguineo, ou seja, o Fleumático é um temperamento, o Melancólico é outro e assim por diante, mas eles nunca estão isolados no indivíduo, não existe uma pessoa que seja simplesmente sanguínea ou somente colérica, na verdade quase todas as pessoas possuem a combinação de dois deles, nunca três, e algumas poucas a combinação dos quatro. Então, se você possui a combinação do Colérico com o Fleumático esse será o seu tempero, Colérico-Fleumático, um temperamento, dois sujeitos.</p>

                    <p class="text-left">Temos então, quatro sujeitos: Melancólico, Sanguíneo, Fleumático e o Colérico. Quatro sujeitos com características diferenciadas, simpáticas e antipáticas, convergentes e divergentes, introvertidas e extrovertidas que ao se combinarem temperarão o indivíduo, dando o sabor específico para cada relacionamento, é a diversidade causando a harmonia.</p>
            
                    <h3>Sujeitos dos Temperamentos</h3><br>
                </div>

                <div class="row" data-aos="zoom-in-up">

                    
                    <table border="2" cellspacing="0" cellpadding="0"> 
                    <tbody>
                    <tr>
                    <td valign="top"><p class="text-left"><em>Sujeitos Extrovertidos</em></p></td>
                    <td valign="top"><p class="text-left"><em>Sujeitos Introvertidos</em></p></td>
                    </tr>

                    <tr>
                    <td valign="top"><p class="text-left">Colérico</p></td>
                    <td valign="top"><p class="text-left">Fleumático</p></td>
                    </tr>

                    <tr>
                    <td valign="top"><p class="text-left">Sanguíneo</p></td>
                    <td valign="top"><p class="text-left">Melancólico</p></td>
                    </tr>

                    </tbody>
                    </table>
                </div>
                <br>
                <div class="row" data-aos="zoom-in-up">

                    <h3 class="text-left">Sujeito Ativo e Sujeito Passivo</h3>

                    <p class="text-left">Entendemos então, que temperamento é a combinação dos sujeitos Colério, Fleumático, Melancólico ou Sanguíneo. Essa combinação no entanto não se dá 50 a 50% um sujeito sempre predominará em relação ao outro. Esse que predomina se manifesta com maior frequência e com</p>
    
                    <p class="text-left">maior força, de maneira que um Sanguíneo-Melancólico na maior parte do seu dia será mais extrovertido, mais falante, porém, de forma repentina essa pessoa pode se fechar a ponto de causar estranheza em seus amigos, pois, por alguma ação externa o segundo sujeito, Melancólico foi estimulado.</p>

                    <p class="text-left">O sujeito que predomina é o ativo do temperamento, enquanto o que se manifesta de maneira mais tímida é o passivo. Exemplo: Se você tem a maior parte de suas características de Colério e a menor parte de Fleumático, então o Colérico é o ativo e o Fleumático o passivo, mas caso se dê o contrário, o Fleumático será o ativo e o Colérico o passivo. Vamos usar os outros sujeitos para uma melhor compreensão, se uma pessoa tem o temperamento Melancólico-Sanguíneo, as características do sujeito Melancólico se manifestarão com mais freqüência e logo, ele será o ativo, enquanto que o Sanguíneo será o sujeito passivo.</p>

                    <p class="text-left">Quando você conhece uma pessoa, em geral entra-se em contato com o sujeito ativo de seu temperamento, o sujeito passivo tende a se revelar somente com uma convivência mais duradoura. Por isso muitos costumam estranhar o companheiro depois de um tempo de convivência diária. O contrário pode ocorrer? Sim, apesar de ser muito raro, o sujeito passivo pode se apresentar de maneira mais expressiva. Um menino sanguíneo por ser muito inquieto pode ser reprimido de forma traumática a ponto de seu temperamento passivo Melancólico se tornar mais expressivo que o Sanguíneo.</p>

                    <p class="text-left">Quando uma pessoa possui um temperamento com sujeitos tão contrastantes como Sanguíneo-Melancólico é comum a pessoa ter mudanças repentinas de ânimo. Ela pode agir de forma eufórica e amistosa com os que estão à sua volta, e de repente ficar triste e amuada sem nenhuma razão aparente, isso pode ocorrer principalmente na fase da adolescência. É importante que isso não seja confundido com bipolaridade ou qualquer outro distúrbio.</p>
                    
                    <p class="text-left">Uma criança que possua um temperamento Real Extrovertido, Sanguíneo-Colérico, não vai conseguir ficar parada, ainda que sejam cinco minutos, é muita energia para ser gasta, não podemos confundir essa condição com TDH.</p>

                    <p class="text-left">Dentro desse contexto, uma criança Real Introvertida, Fleumática-Melancólica, passará um bom tempo do seu dia imaginando-se em outro mundo, completamente absorta em suas fantasias, o que fará que não se concentre em quase nada do que é dito a ela, o que não pode seu confundido com TDA.</p>

                    <p class="text-left">Esses incômodos que se afloram principalmente na adolescência, quando ocorre de forma normal, geralmente na fase da adultês, costumam passar ou pelo menos diminuir de intensidade.</p>
                </div>

                <br>
                <div class="row" data-aos="zoom-in-up">

                    <h3>Temperamento extrovertido e Introvertido</h3><br>

                    <p class="text-left">Quando eu posso dizer que sou uma pessoa introvertida? Também não será uma resposta tão simples, quando se trata da mente humana nada é tão simples. Quando o meu temperamento for composto por dois sujeitos extrovertidos, então serei extrovertido, quando for por dois introvertidos serei introvertido.</p>

                    <p class="text-left">Quando o sujeito ativo for introvertido, então eu serei uma pessoa pseudointrovertida. Quando o sujeito ativo for extrovertido, então eu serei uma pessoa pseudoextrovertida. Para facilitar a compreensão segue uma tabela.</p>
                </div>

                <div class="row" data-aos="zoom-in-up">
                    <table  border="5" cellspacing="0" cellpadding="0" > 
                    <tbody>
                    <tr>
                    <td  colspan="2" valign="top" ><p class="text-left"><em>Temperamento Extrovertido</em></p></td>
                    <td  colspan="2" valign="top" ><p class="text-left"><em>Temperamento Introvertido</em></p></td>
                    </tr>

                    <tr>
                    <td colspan="2" valign="top" >
                    
                    <p class="text-left">1. Sanguíneo-Fleumático</p>
                    <p class="text-left">(Pseudoextrovertido)</p>
                    <p class="text-left">2. Sanguíneo-Melancólico</p>
                    <p class="text-left">(Pseudoextrovertido)</p>
                    <p class="text-left">3. Sanguíneo-Colérico</p>
                    <p class="text-left">(Real extrovertido)</p>

                    </td>
                    
                    <td colspan="2" valign="top" >
                    <p class="text-left">1. Melancólico-Colérico </p>

                    <p class="text-left">(Pseudointrovertido)</p>
                    
                    <p class="text-left">2. Melancólico-Sanguíneo</p>

                    <p class="text-left">(Pseudointrovertido)</p>

                    <p class="text-left">3. Melancólico-Fleumático</p>

                    <p class="text-left">(Real introvertido)</p></td>
                    </tr>

                    <tr>
                    <td colspan="2" valign="top" >
                        
                        <p class="text-left">1. Colérico-Fleumático</p>
                        <p class="text-left">(Pseudoextrovertido)</p>
                        <p class="text-left">2. Colérico-Melancólico</p>
                        <p class="text-left">(Pseudoextrovertido)</p>
                        <p class="text-left">3. Colérico-Sanguíneo</p>
                        <p class="text-left">(Real extrovertido)</p>


                    </td>
                    <td colspan="2" valign="top" >
                    
                        <p class="text-left">1. Fleumático-Sanguíneo</p>

                        <p class="text-left">(Pseudointrovertido)</p>
                        
                        <p class="text-left">2. Fleumático-Colérico</p>

                        <p class="text-left">(Pseudointrovertido)</p>

                        <p class="text-left">3. Fleumático-Melancólico</p>

                        <p class="text-left">(Real introvertido)</p></td>
                    </tr>

                    </tbody>
                    </table>

                    <br>
                    <p class="text-left">Há treze temperamentos, os doze que cito na tabale acima e o décimo terceiro que são os quatro sujeitos distribribuídos no indivíduo de forma quase equânime.</p>
                </div>
                <br>
                <div class="row" data-aos="zoom-in-up">
                    
                    <h3>Qualidade dos sujeitos</h3><br>

                    <p class="text-left">As características dos sujeitos que determinam superioridade de um temperamento em relação ao outro, por isso não sentido em comparações imaturas de que este temperamento é melhor ou pior que aquele. Cada temperamento se destaca segundo suas qualidades, uns serão destaque nas atividades esportivas, outros nas artísticas, outros na matemática e assim por diante, ou seja, um temperamento será melhor que o outro em seu próprio campo de atuação, mas não existe um temperamento que seja o melhor. O que fazemos com cada uma de nossas qualidades é que determinará a nossa evolução ou a nossa estagnação.</p>

                    <p class="text-left">Geralmente os sujeitos possuem as mesmas características, porque são qualidade gerais da humanidade, por exemplo, todos nós possuímos melancolia, cólera, apatia e entusiasmo, faz parte da natureza humana, mas temos o costume de observar apenas o que se destaca, a ira se destaca nos comportamentos dos coléricos e por isso achamos que os fleumáticos não são irados, mas quando eles explodem em ira deixam qualquer sujeito colérico como aprendiz da raiva. E o que dizer da melancolia, todo homem que questionar o sentido da vida, independente do temperamento que possua, irá carregar por um longo tempo um rosto taciturno e um ar melancólico, até que encontre sua resposta, ou seja, o temperamento irá determinar muito mais a forma como a qualidade vai se manifestar, e não se tal Sujeito tem uma característica e outro não. No final da análise do comportamento humano não somos tão diferentes na composição de nossa essência.</p>

                    <p class="text-left">Algumas poucas características pertencem realmente de maneira específica a algum sujeito, a afabilidade por exemplo é qualidade exclusiva do sanguíneo, entretanto, a maior parte dos atributos está para todos os quatro sujeitos. O que diferencia é como determinada qualidade agirá e</p>

                    <p class="text-left">reagirá na vida do indivíduo, por exemplo, o egoísmo é uma característica humana, mas o melancólico estampará essa qualidade na vitrine de sua alma, ele sequer tenta disfarçar o seu egoísmo, somente o que é dele importa, os incomodados que se retirem. Outro exemplo é a raiva, qualquer pessoa uma vez contrariada em seus desejos, terá uma reação raivosa, o colérico, no entanto, não precisa um bom motivo para se irar, ele quer ter raiva e vai ter raiva, isso basta. Sendo assim, entenderemos nesse livro como algumas emoções e alguns sentimentos agem e reagem de acordo com cada sujeito.</p>

                    <p class="text-left">Características a serem consideradas</p>

                    <p class="text-left">Os atributos dos Sujeitos aqui propostos são os mais relevantes para uma melhor identificação de si mesmo, é claro que há muitos outros que não se encontram aqui, mas creio serem suficientes os que aqui se encontram para uma boa autodescoberta.</p>
                </div>

                <br>
                <div data-aos="zoom-in-up">

                    <h1 class="text-left">Colérico</h1>
                    <br>
                    <p class="text-left">· Positivas: Audacioso, Comedido, Cumpridor, Eficiente.</p>
                    <p class="text-left">· Negativas: Cético, Insensível, Iracundo, Sarcástico, Prepotente.</p>
                    <p class="text-left">· Neutra: Independente.</p>
                    <br>
                </div>
    
                <div class="row" data-aos="zoom-in-up">
                    <p class="text-left"><em>1. </em> Audácia: Impulso que incita o indivíduo ao confronto do temor para a realização de ações difíceis, superando obstáculos e perigos. <sub>BenQ</sub>.</p>

                    <p class="text-left">Os coléricos são eficientes policiais, bombeiros, cirurgiões, atletas e demais atividades que nescessitam dessa qualidade, pois são afazeres que muitas vezes exigem a transposição de limites, atividades que põem em risco o bem estar de quem o pratica. O limite, linha imaginária da mente humana, existe para gerar sensação de confiança e conforto, quando surgem situações que exigem a quebra dessa linha a audácia entra em ação.</p>

                    <p class="text-left">Li certa vez uma estória que exemplifica bem essa característica desse sujeito: Um incêndio destruia uma casa e de dentro dela uma criança gritava desesperada, a morte era certa. Um sanguíneo ao ver a cena começou a gritar desesperado: _ Meu Deus, essa criança vai morrer queimada, ninguém está está vendo isso? Ninguém vai fazer nada? Um fleumático e um melancólico ouvindo os gritos se aproximaram, o fleumatico vendo o que se passava virou o rosto diante de tanto horror, o melancólico pôs-se a chorar, em meio a gritos e choros o colérico aparece com a criança nos braços após quebrar a janela da casa e salvar o menino.</p>

                    <p class="text-left"><em>2. </em> Comedido: Aquele que age empregando medidas exatas às necessudades de uma situação, nem faltando, nem exagerando. <sub>BenQ</sub>.</p>

                    <p class="text-left">Para um Colérico o copo com água até o meio não está nem quase cheio, nem quase vazio, está no meio, ele atua no cotidiano na justa medida. Ele não é exagerado, ao contar um fato ocorrido, narra em sua exata medida.</p>

                    <p class="text-left">Esse aspecto não se restringe somente a histórias contadas, mas a quase tudo em sua vida, economia, relacionamentos, religião. Um bom colérico evita sempre que pode o exagero.</p>

                    <p class="text-left">Isso não impede um pessoa com esse temperamento de agir de forma partidária. O partidarismo não é uma característica de temperamentos, não pertence a este ou àquele sujeito, faz parte da natureza humana, logo, em opniões e decisões que não envolvem escolhas e apoios entre pessoas preferidas e preteridas, sua visão será sempre comedida. Pode parecer um pouco óbvio, mas não é, um sanguíneo por exemplo, exagera ao narrar histórias sem a menor necessidade, enquanto um fleumático tende a diminuir os fatos.</p>

                    <p class="text-left"><em>3. </em>Cumpridor: Aquele que se mostra fiel em executar obrigações e promessas. <sub>BenQ</sub></p>

                    <p class="text-left">Abandonar uma tarefa no meio do caminho, ou deixar para terminar amanhã não faz parte da personalidade desse sujeito. Tarefa iniciada é tarefa cumprida. No entanto essa característica é mais presente no que tange à profissão. Geralmente as profissões estão ligadas a regras e uma vez que o colérico se vê sob regras não irá tentar burla-las, como os demais sujeitos tentarão fazer, regras são regras e ele as cumprirá.</p>

                    <p class="text-left">Juramentos e promessas também são bons motivos para se cumprir de forma cabal, logo, sua área emocional, familiar e religiosa também serão influenciadas por essa característica</p>

                    <p class="text-left"><em>4. </em>Destacado: Aquele que se faz notar em meio a multidão. <sub>BenQ</sub></p>

                    <p class="text-left">Aqui está uma característica própria para as atividades físicas. Esportistas e ginastas coléricos levam de longe vantagens em relação aos outros sujeitos. Se quando aluno ele não se fez conhecido por sua criativa redação com certeza se fez no esporte. Em países que levam a sério o esporte é possível que esse sujeito tenha êxito em sua vida financeira e ainda muita fama através da ginástica e do esporte.</p>

                    <p class="text-left">Também será destaque nas profissões que exigem destreza e mobilidade. A mente do colérico é muito prática e o seu corpo é a expressão dessa praticidade. Na arte com certeza a dança será o seu holofote, seu corpo sua voz.</p>

                    <p class="text-left"><em>5. </em>Eficiência: Qualidade intrissicamente ligada ao bom desempenho de uma tarefa dentro de um limite de tempo predeterminado. <sub>BenQ</sub></p>

                    <p class="text-left">A base da eficiência é a concentração e o colérico se concentra muito no que faz, tentar conversar com ele enquanto está em plena atividade não é uma boa ideia, pois não haverá resposta satisfatória e nem será de forma muito delicada. Essa é uma situação onde os demais sujeitos deveriam aprender que hora de trabalho não é momento de conversas tolas.</p>

                    <p class="text-left">Seu foco o deixa eficiente, sua tarefa será realizada no tempo determinado e com bons resultados, principalmente se tal atividade estiver sob a revisão de superiores que aguardam bom resultado em tempo limitado. Procrastinadores que estão sob o seu comando vão passar por momentos difíceis até apredenrem a serem mais disciplinados.</p>

                    <p class="text-left">O trabalho para esse sujeito tem um palpel de muita importância em sua vida, muitas vezes mais do que sua área emocional, não é incomum</p>

                    <p class="text-left">seu parceiro ou seus filhos reclamarem a falta de atenção devido ao excesso de zelo por suas atividades profissionais, o equilibrio entre a eficiência profissional e a vida pessoal é algo a ser cultivado em sua vida.</p>

                    <p class="text-left"><em>6. </em>Insensível: Aquele que se mostra indiferente ao sofrimento ou alegria do outro. <sub>BenQ</sub></p>

                    <p class="text-left">Essa é uma característica que geralmente quem escreve sobre o tema temperamentos descreve de forma injusta a respeito desse sujeito, mesmo porque, não existe ser humano que seja indiferente. O fato do colérico não demonstrar a sua compaixão de forma tão exteriorizada como os demais sujeitos não quer dizer que seja completamente apático às dores do próximo. Uma mãe corrige um sanguíneo com algumas chineladas, esse vai chorar e gritar como se o mundo tivesse acabando, uma criança colérica provavelmente não terá reações visíveis à surra, ela vai apanhar e não vai chorar, isso não significa que ela não esteja envergonhada pelo o que fez e que não mudará seu comportamento, não é nescessário espancá-la até ao sangramento. Quem convive com um colérico precisa compreender e aceitar a sua forma de demonstrar suas emoções.</p>

                    <p class="text-left">É verdade que o choro não vai comover tal sujeito, ao contrário, choros e manhas só vão irritá-lo e com certeza ele dirá ao que lamenta de forma bruta que ele dever ser mais forte. Um filho de pai colérico vai crescer ouvindo ‘seja homem, deixa de ser mole, mas tai reações não se dá por total insensibilidade, porém muito mais por constrangimento diante de uma sensação de incapacidade de consolar o que sofre, palavras doces e mão na cabeça é o que sofredor espera e isso não está na lista de atitudes do colérico.</p>

                    <p class="text-left">7. Iracundo: Aquele que se irrita com facilidade. <sub>Dicionário online</sub></p>

                    <p class="text-left">Essa é a característica mais marcante do colérico, a que faz juz ao seu nome. Sim, ele se irrita facilmente, geralmente as mesmas brincadeiras que faz com os outros se forem feitas com ele a ira já explode. Seu semblante traz naturalmente traços fechados, de forma que algumas pessoas se constragem na aproximação.</p>

                    <p class="text-left">Muitas vezes sua forma tranquila de se comunicar pode ser traduzida como um repreensão. Não é incomum alguém próximo a ele dizer que se sentiu ofendido pelo que foi dito e ele se defender dizendo que não disse nada demais, que aquele é o seu jeito de falar. O que é verdade, seu jeito firme é facilemente confundido com rudeza.</p>

                    <p class="text-left">8. Prepotente: Que usa do seu poder para constranger o mais fraco.</p>

                    <p class="text-left">Um colérico na presidência ou coordenação de algum grupo com certeza realizará um bom e eficiente trabalho, com ele as coisas funcionam, mas isso não significa que todos estarão felizes e satisfeitos, porque tal êxito muitas vezes é alcançado à custa da humilhação do mais fraco.</p>

                    <p class="text-left">Palavras duras e ações de disciplinas exageradas fazem com que o resultado do trabalho grupal seja amargo. Quase sempre tais ações são desnecessárias, uma demonstração de poder ofensiva que poderia facilmente ser trocadas por palavras firmes e ações determinadas que trariam o mesmo efeito daquelas que causam constrangimento.</p>

                    <p class="text-left"><em>9. </em>Sarcasmo: Ironia ou zombaria mordaz e cruel. <sub>Michaelis</sub></p>

                    <p class="text-left">Por um pequeno motivo ou por motivo nenhum, o colérico pode zombar abertamente de alguém em uma conversa sem ter a menor preocupação do quanto isso possa ferir a pessoa em questão.</p>

                    <p class="text-left">Geralmente os alvos da ironia são os mais exteriores e superfluos possíveis, jeito de vestir, falar, andar, comer. As crianças de outros temperamentos muitas vezes são frequentemente importunadas pelas coléricas na escola, sanguíneos gordinhos, fleumáticos sonsos, melancólicos chorões sofrem bastante sob os impetuosas ataques sarcásticos.</p>

                    <p class="text-left"><em>10. </em>Independente: Que goza de autonomia ou liberdade completa com relação a alguém ou algo. <sub>Michaelis</sub></p>

                    <p class="text-left">A simples ideia de precisar de uma outra pessoa é suficiente para deixar o colérico irritado, pois julga que sozinho trabalha melhor e companheiros irão apenas atrapalhar, se for para ser equipe que seja com ele delegando serviços. Se o trabalho for mais prático que teórico, pode ser que ele esteja certo no ponto em que sozinho produzirá mais rápido, mas não melhor, pois o trabalho em equipe oferece um crescimento de grande importância para os relacionamentos.</p>

                    <p class="text-left">A independência até um certo nível é benéfica, não é bom precisar o tempo todo das pessoas, aliás essa é uma das características do amadurecimento. Uma pessoa emocionalmente madura é uma pessoa independente, mas preciso entender que a vida é construída através de parcerias, ninguém é tão forte ou capaz a ponto de não precisar de ajuda, caso contrário esse atributo se torna um defeito que destruirá os relacionamentos, famílias, amizades, tudo.</p>
                </div>

                <div data-aos="zoom-in-up">
                    <h1 class="text-left">Fleumático</h1>
                    <br>
                    <p class="text-left">· Positiva: Calmo, Cumpridor, Eficiente, Sociável.</p>
                    <p class="text-left">· Negativa: Absorto, Apático, Covarde, Desconfiado.</p>
                    <p class="text-left">· Neutra: Conservador, Humor eutímico.</p>
                    <br>

                </div>

                <div class="row" data-aos="zoom-in-up">

                    <p class="text-left">1. Calma: Do latim tardio CAUMA, o calor do meio-dia (quando tudo fica quieto, sem ventos). <sub>Dicionário online</sub> </p>
                    
                    <p class="text-left"> <em></em></p>

                    <p class="text-left">Os diciocinários trazem significados semelhantes para o tranquilo e para o calmo, apesar de muitos fazerem distinção, como a origem da palavra calma tem haver como ambiente externo, o sol do meio dia, creio ser interessante manter tal distinção.</p>

                    <p class="text-left">O fleumático está quase sempre calmo, mesmo em meio aos problemas, isso não quer dizer que em seu interior ele esteja em paz. Sua resposta facial e corporal à tempestaste que se passa em sua alma, somente os mais íntimos vão perceber, vão interpretar os sinais sutis de que um vulcão está prestes a entrar em erupção.</p>

                    <p class="text-left"><em>2. </em>Cumpridor: Aquele que se mostra fiel em executar tratos e promessas. <sub>BenQ</sub></p>

                    <p class="text-left">Essa característica faz desse sujeito um bom trabalhador teórico, executa um bom trabalho como admistrador, contador e outras profissões que exigem um nível alto de responsabilidade em áreas burocráticas.</p>

                    <p class="text-left">Ter um dever a cumprir é algo sagrado para ele, por isso mesmo fará o possível para não assumir novas responsabilidades, principalmente compromissos altruístas, porém uma vez tendo assumido uma tarefa ela com certeza será cumprida.</p>

                    
                    <p class="text-left"><em>3. </em>Eficiência: Qualidade intrissicamente ligada ao bom desempenho de uma tarefa dentro de um limite de tempo predeterminado. <sub>BenQ</sub></p>

                    <p class="text-left">A eficiência é um excelente complemento a um cumpridor, ou seja, conclui suas tarefas no prazo certo e de forma impecável. O fleumático tem um bom nível de concentração em suas tarefas e uma boa dedicação, qualidades necessárias para um bom desepenho.</p>

                    <p class="text-left">4. Sociável: Que se relaciona facilmente na sociedade. <sub>Dicionário online</sub></p>

                    <p class="text-left">Ambientes calmos e agradáveis, assuntos impessoais, conversas amigáveis essa é a convivência ideal e o entretenimento predileto para o fleumático. Falar de política, esporte, economia, ou seja, temas que permitem uma conversa sem intimidade.</p>

                    <p class="text-left">Suas opniões em tais assuntos serão firmes, porém, não agressivas, sem intuito de persuasão. Agrada-lhe debater ideias e faz com calma, porém um toque leve de sacarsmo, mas nada que possa criar animosidade.</p>

                    <p class="text-left"><em>5. </em>Absorto: Com atenção contemplativa. Focado em seus pensamentos. <sub>BenQ</sub></p>

                    <p class="text-left">Essa é uma característica bem marcante nesse sujeito, que associado à sua calma ganha a fama de sonso. Quando absorto o fleumático terá reações bem letárgicas, capaz de ficar inerte por um bom tempo, não estará refletindo em assuntos profundos e complexos, apenas vagando em alguma dimensão do vazio onde só ele conhece o caminho.</p>

                    <p class="text-left"><em>6. </em>.Apático: Desinteressado aos desejos e vontades do próximo, indiferente e desmotivado a eventos dinâmicos. <sub>BenQ</sub></p>

                    <p class="text-left">Quem se relaciona com um fleumático não deve esperar uma vida cheia de aventuras, a montanha-russa não é uma boa metáfora para o seu estilo de vida. Não que ele não vá em festas agitadas, mas mesmo em eventos como esses o seu comportamento será calmo, até em uma boate sua preferência será a mesa para beber e conversar do que a pista de dança.</p>

                    <p class="text-left">Por outro lado ele deve entender que uma relação se dá através de troca de interesses, aquilo que não me agradava passa a me interessar por causa do outro, e assim se esforçar para não somente participar das atividades de sua companhia, como adquirir o prazer de estar participando.</p>

                    <p class="text-left"><em>7. </em>Conservador: Aquele que mantém hábitos e ambientes com pouca ou nenhuma alteração em relação ás mudanças do tempo ou local. <sub>BenQ</sub></p>

                    <p class="text-left">Os móveis da casa de uma mulher de temperamento fleumático ativo dificilmente irão mudar de posição ao longo dos anos, cores fortes, nem pensar, talvez um pouco de vermelho como detalhe, mas nada alegre demais ou combinações ousadas. Também são assim os seus hábitos e sua forma de se vestir. Isso não tem haver com estar presa ao passado, mas de se sentir segura com a constância, terrenos novos são evitados pelo fleumático. Geralmente as mudanças vêm por um forte estímulo de amigos de confiança, geralment um sujeito extrovertido que o incita a mudar sua forma de vida, mesmo assim no início ele o fará a contragosto.</p>
                    
                    <p class="text-left"><em>8. </em>Covarde: Aquele que se apresenta inerte diante do medo. <sub>BenQ</sub></p>

                    <p class="text-left">Medo todos nós sentimos, principalmente das mudanças necessárias que se apresentam para nós de maneira inesperada ameaçando o nosso conforto tão dificilmente conquistado, mas o que fazemos diante desse medo é o que nos definirá como corajosos ou covardes.</p>

                    <p class="text-left">Quase sempre o fleumático ficará inerte diante do temor, esperando que o outro tome a direção, isso acontece muito em seus relacionamentos. Sua esposa não deve ter grandes expectativas de decisões audaciosas simplesmente porque ele é homem, muitas vezes é a mulher colérica ou sanguinea que precisa dar os primeiros passos para as resoluções das dificuldades do lar.</p>

                    <p class="text-left"><em>9. </em>Desconfiado: Tendência natural para não confiar nos outros; ausência de confiança. <sub>Dicionário online</sub></p>

                    <p class="text-left">A pessoa que o fleumático realmente confia é ele mesmo, sua confiança não encontra espaço nem para os mais íntimos. Isso não o impedirá de manter um bom nível de relacionamento, pois quanto mais ele conhecer a pessoa que está próximo, mais ele se entregará ao relacionamento, essa entrega porém, é limitada, será o suficiente para evitar conflitos interpessoais.</p>

                    <p class="text-left">Dificilmente ele será pego de surpresa em uma traíção, a frase: ‘eu já sabia’ é sua companheira de avaliação do outro. Em contrapartida corre o risco de passar pela vida sem nunca experenciar todo o seu potencial, tendo sempre experiências supérfluas e fulgazes.</p>
                    
                    <p class="text-left"><em>10. </em>Humor Eutímico: Humor contínuo sem grandes ocilações em tristezas ou euforias.<sub>BenQ</sub></p>

                    <p class="text-left">O que define bem essa característica é a intensidade em que o fleumático manifesta seus momentos de alegria ou tristeza. Não é difícil de percebê-lo triste ou alegre, mas tais momentos serão sempre contidos, ouvir uma gargalhada escancarada e sem vergonha dele é quase impossível.</p>

                    <p class="text-left">Esse atributo é bem percebido na expressão facial e corporal. Sembrantes com poucas alterações ainda que expressem emoções fortes e diferenciadas, andar.</p>
                </div>

                <div data-aos="zoom-in-up">

                    <h1 class="text-left" >Melancólico</h1>
                    <br>
                    <p class="text-left">Positivas: Analista, Empático, Fiel, Idealista.</p>

                    <p class="text-left">Negativas: Antissocial, Autocrítico, Perfeccionista, Teórico, Vingativo.</p>

                    <p class="text-left">Neutra: Sensível.</p>
                    <br>
                </div>

                <div class="row" data-aos="zoom-in-up">
                    <p class="text-left">1. Analista: Que tem como objetivo principal realizar análises através de partes separadas com a finalidade de chegar a um consenso de um todo. <sub><a href="http://www.portaleducacao.com.br/">Portal Educação.</a></sub></p>
                    
                    <p class="text-left">Uma grande dificuldade na hora de se resolver um dilema é saber separar o todo em partes e isso o melancólico faz com facilidade. Quando um problema surge a maioria das pessoas não consegue separá-lo em partes, pois é exatamente isso o que deve ser feito. Primeiro separa-se o conjunto detectando o início, o meio e o fim, separando o que tem mais importância do menos importante, resolvendo parte por parte, para só então, juntar tudo de novo e ver o todo.</p>

                    <p class="text-left">O melancólico consegue fazer isso de forma espontânea, o fato de ser mais pensativo do que falante o ajuda em tal tarefa, isso o torna um bom conselheiro. No entanto, quando é ele mesmo que está passando pelo problema, se perde em meio a tanta análise, e não encontra a própria solução.</p>

                    <p class="text-left"><em>2. </em>Empático: Aquele que percebe e sente as emoções, os desejos, as ideias e sentimentos de outrem, se projetando em seu lugar. <sub>BenQ</sub></p>

                    <p class="text-left">O melancólico é uma esponja setimental a sugar alegrias e tristezas alheias, ou seja, as pessoas que o cercam têm um papel</p>

                    <p class="text-left">fundamental em sua saúde tanto física quanto emocional, diferentemente dos Sujeitos extrovertidos que tendem a bloquear as influências das emoções negativas de seus ambientes através de atividades práticas, como o esporte.</p>

                    <p class="text-left">É comum amigos melancólicos compartilharem dores ou enfermidades psicossomáticas. Esse sujeito faz do sofrimento de quem ele gosta o seu próprio sofrimento, mas não pára por aí, como ele é idealista tende a absorver o pesar do mundo, cranças com fome, guerras em países distantes, ou seja, não é difícil esse Sujeito fazer jus ao seu nome de melancólico.</p>

                    <p class="text-left">Talvez por isso quase sempre ele terá um amigo sanguíneo, para pegar emprestado um pouco da sua alegria contagiante. Tal amigo lhe servirá de impulso para expressar as suas próprias alegrias, para ousar fazer o que sozinho não seria capaz. Seu amigo extrovertido é o seu motor propulsor que lhe capacita a ser o que mais deseja, alegre.</p>

                    <p class="text-left"><em>3. </em>Fiel: Atributo de quem preserva seus votos a algo ou seus laços a alguém de forma incondicional. <sub>BenQ</sub></p>

                    <p class="text-left">O Melancólico não é um sujeito de coleguismo, encontros casuais para conversas superficiais não lhe agradam muito, no entanto, aprecia o companheirismo e seu complexo jogo de cumplicidade, a fidelidade será sempre seu principal lema em seus relacionamentos.</p>

                    <p class="text-left">E é justamente essa cumplicidade que construíra a relação de fidelidade entre esse Sujeito e seus amigos, pois ele não apenas ouve as necessidades de seus companheiros, mas também participa, se envolve por completo, não importando com o certo ou errado.</p>

                    <p class="text-left"><em>4. </em>Idealista: Que luta por um ideal, visionária. <sub>Dicionário online</sub></p>

                    <p class="text-left">O Melancólico cria seu próprio mundo onde tudo o que existe é para ele, onde não tem as opiniões de terceiros para incomodar suas sempre certas ideias e onde existem somente seus amigos, não é um mundo perfeito, e ele sabe disso, mas é dele e isso é tudo o que importa, essa é a sua expressão de seu egoísmo, porém, por mais que ele se sinta confortável com esse mundo mental, o inevitável confronto com o mundo real criará uma tensão e o forçará a ver o que se passa ao seu redor, nesse ponto a solução para essa insuportável tensão será crer em mundo ideal e por ele lutar.</p>

                    <p class="text-left">O idealismo para esse sujeito é a forma por ele encontrada para equilibrar o conforto do seu mundo utópico com a desagradável tensão do mundo externo. Grandes transformadores da sociedade tinham o Sujeito melancólico em seu temperamento. Em tempos de grande repressão, as músicas e poemas sobre o mundo ideal fizeram a grande diferença na luta contra a injustiça.</p>

                    <p class="text-left"><em>5. </em>Antissocial: Que não se prende a padrões sociais de convívios. Alguém que não sente a necessidade de convivência com outros, nem de se comunicar. <em>Dicionário inFormal.</em></p>

                    <p class="text-left">Quanto maior for o número de pessoas em um ambiente de festa, maior será o seu desconforto. Batizados, casamentos, formaturas nada disso será motivo de entusiasmo para ele, a não ser que tais eventos sejam de pessoas muito íntimas.</p>

                    <p class="text-left">Se forçado a participar de tais cerimônias, irá contrariado, ficará amuado e tentará ficar o mais mudo possível. Em sua mente haverá apenas um pensamento, ‘quando essa chatice vai acabar? ’ Não espere desse</p>

                    <p class="text-left">6. Autocrítico:</p>

                    <p class="text-left">O Melancólico é o seu próprio algoz, se analisa o tempo todo e de forma quase profissional para se depreciar com propriedade, mas na verdade essa depreciação faz parte de uma situação paradoxal, pois não há quem ame mais os seus defeitos do que ele. Aqui ele cria uma condição de amor e ódio para consigo, ora se sente bem com seus defeitos, ora se deprime em culpa.</p>

                    <p class="text-left">Seja como for, não precisa de ajuda para se ver, tudo o que você disser a seu respeito ele dirá que já sabe, então por que não muda? Porque gosta de ser como é. Essa é uma outra boa forma dele expressar o seu egoísmo.</p>

                    <p class="text-left">7. Perfeccionista: Traço de personalidade que envolve a tentativa constante de ser o melhor em tudo que faz, e o medo excessivo de cometer erros.<sub><a href="http://www.psicologosberrini.com.br/">Psicólogos Berrini.</a></sub></p>

                    <p class="text-left">Esse é o monstro que o consome, a brutal ideia de que tudo o que ele faz nunca chega ao ponto de perfeição que tanto almeja, e que lá dentro sente ser possível, mas a realidade sempre contrasta com o seu ideal.</p>

                    <p class="text-left">A insatisfação é companheira perene de suas obras, qualquer realização, por melhor que esteja e por mais elogiada que seja não trará alívio ao tormento de seu criterioso crivo da autoavaliação.</p>

                    <p class="text-left">8. Teórico: Que se ocupa com a parte da observação de algum dilema, sem efetuar a devida ação.<sub>BenQ</sub></p>
        
                    <p class="text-left">Por pensar muito em uma determinada situação quase sempre ambígua o melancólico quase nunca chega a efetuar as devidas ações de resolução de seus problemas. Não que ele não encontre a solução, mas ao encontrá-la se perde em confusão por ter teorizado por demais o seu dilema.</p>

                    <p class="text-left">Isso se dá porque muitas vezes devemos arriscar em alguma ação para testificar o que realmente é correto, o muito pensar serve apenas como orientação para o que devemos fazer, não substitui a coragem que todos devemos ter em arriscar o passo seguinte do efetuar.</p>

                    <p class="text-left"><em>9. </em>Vingativo: Quem não perdoa o mal recebido, esperando tempo oportuno para retribuí-lo. <sub>BenQ</sub></p>

                    <p class="text-left">Aquela palavra dura e má que você deu para ele há dois anos, numa tarde de sábado? Sim, ele se lembra, e está pronto para rebatê-la. O melancólico não costuma ser grosseiro de forma gratuita, por isso, se receber uma palavra realmente desagradável de sua parte, você pode até não saber o porquê, mas ele se lembra muito bem o motivo.</p>

                    <p class="text-left">Então, se você tem dois filhos e o que é melancólico começou uma briga, não tenha dúvidas, ali haverá dois culpados, um recente e outro tardio. Aprender a perdoar é a única solução para tal problema.</p>

                    <p class="text-left"><em>10. </em>Sensível: Que se deixa comover com facilidade. <sub>Dicionário online</sub></p>

                    <p class="text-left">Essa é uma característica que depende de sua intensidade para causar algum prejuízo, a sensibilidade quando não exacerbada pode contribuir para um bom acolhimento do próximo, pode oferecer melhor</p>

                <div data-aos="zoom-in-up">

                    <h1 class="text-left">Sanguíneo</h1>
                    <br>
                    <p class="text-left">Positivas: Afável, Bom companheiro, Empático, Entusiasta.</p>
                    <p class="text-left"> Negativas: Exagerado, Dependente, Desorganizado, Impulsivo. </p>
                    <p class="text-left"> Neutra: Destacado.</p>
                    <br>
                </div>

                <div class="row" data-aos="zoom-in-up">
                    <p class="text-left"><em>1. </em>Afável: Atributo de quem é cortês, atencioso; benevolente, acolhelhedor, amável. <sub>BenQ</sub></p>

                    <p class="text-left">Essa é a qualidade do bom anfitrião, como é bom ser bem recebido para um almoço, uma visita ou até mesmo uma pousada. O sorriso largo no rosto, o abraço acolhedor, a preocupação de que o convidado está se sentindo bem no ambiente.</p>

                    <p class="text-left">Um evento social coordenado pelo sanguíneo muitas vezes não terá um estilo mais apurado, não será um momento chic, mas agradará a grande maioria dos convidados por ter um ambiente amistoso e descontraído.</p>

                    <p class="text-left"><em>2. </em>Bom companheiro: Aquele que é almejado por companhia por ser de agradável convivência. <sub>BenQ</sub></p>

                    <p class="text-left">Esse Sujeito consegue compor uma boa lista de qualidades como ser falante, ajudador, afável, alegre, barulhento e outros atributos que o ajuda a ter muitos colegas. Três minutos num ambiente desconhecido são suficientes para ele se aproximar de alguém e conversar como se fossem antigos amigos.</p>

                    <p class="text-left">O coleguismo surge e se mantem pelos encontros casuais ou pelos eventos compartilhados como um filme no cinema ou uma peça teatral e quando se trata de eventos o sanguíneo é a alma da festa, por isso estará sempre cercado de colegas em trocas constantes de alegrias.</p>

                    <p class="text-left">Bons ajudadores, bons médicos e enfermeiros, pois estão sempre dispostos a cuidar de quem necessita. Quando o sanguíneo consegue controlar o seu impulso de falar sem pensar se torna também um bom conselheiro.</p>

                    <p class="text-left">Ele pode não saber explicar claramente o motivo da dor ou o que levou a pessoa ao seu lado ao sofrimento, porque não é um bom analista, mas sentirá a carência da pessoa que sofre e tentará amenizar seus males com palavras, gestos e abraços.</p>

                    <p class="text-left"><em>3. </em>Entusiasta: Aquele que demonstra grande interesse por uma grande quantidade de afazeres, encorajando e estimulando os outros. <sub>BenQ</sub></p>

                    <p class="text-left">A simples companhia é suficiente para animar o sanguíneo a se levantar de seu conforto e atender prontamente aos convites de seus amigos e colegas. Não há tempo ruim para ele, faça sol ou faça chuva ele estará lá com um sorriso no rosto e muito assunto para conversar.</p>

                    <p class="text-left">Não tem muita dificuldade também em comprar os ideais de seus companheiros sejam bons ou nem tanto. Não lhe falta energia para levantar bandeiras, defender causas e ainda animar aquele que está em cima do muro sem saber que rumo tomar.</p>

                    <p class="text-left"><em>4. </em>Exagerado: Tudo que passa do necessário. <sub>BenQ</sub></p>

                    <p class="text-left">O ditado, ‘quem conta um conto aumenta um ponto’ não serve para ele, pois aumetará pontos, vírgulas e exclamações. Isso é o que faz com que os seus casos sejam tão divertidos, somando é claro, aos seus gestos e caretas exagerados.</p>

                    <p class="text-left">Seu gosto pelo colorido também é um bom exemplo de seu exacerbo, roupas, móveis da residência ou a própria casa, tudo alegre e com muita cor. O muito sempre lhe agrada.</p>

                    <p class="text-left">5. Dependente: Que possui ou adquiri necessidades orgânicas ou psicoógicas de alguém ou algo. <sub>BenQ</sub></p>

                    <p class="text-left">Ficar só para o sanguíneo é um verdadeiro suplício, pois falar para ele é quase uma necessidade psicológica. O barulho lhe faz falta, caso se encontre sozinho em casa por certo ligará a tv para não assistir ou o rádio para não ouvir, o importante é que haja barulho.</p>

                    <p class="text-left">Isso causa uma dependência forte do outro, situação que se o sanguíneo não cuidar para manter um certo equilíbrio pode gerar um desconforto para quem vive com ele. Aprender a estar só é importante tanto quanto saber estar acompanhado.</p>

                    <p class="text-left"><em>6. </em>Desorganizado: Quem não faz uso de um senso de órdem, estética, método, didática. <sub>BenQ</sub></p>

                    <p class="text-left">Esse é um defeito que prejudica demais esse Sujeito em seus projetos e trabalhos, os resultados nunca serão satisfatórios sem organização, além disso o trabalho de um profissional desorganizado sempre cai em descrédito.</p>

                    <p class="text-left">Em sua vida privada ele consegue até se encaixar na falta de ordem, em seu quarto onde tudo está fora de lugar localiza o que deseja, ainda que com um pouco de dificuldade, mas quando se trata de trabalho coletivo os problemas logo surgem.</p>

                    <p class="text-left"><em>7. </em>Impulsivo: Que fala ou agem sem reflexão, dirigido apenas por seus impulsos básicos. <sub>BenQ</sub></p>

                    <p class="text-left">É o famoso agir sem pensar ou falar sem pensar, na linguagem popular, na famosa gíria é o que se chama de dar rata. Isso causa situações difíceis e desagradáveis tanto para a pessoa que possui o Sujeito Sanguíneo em seu temperamento quanto para quem estiver ao seu lado.</p>

                    <p class="text-left">Não é raro o sanguíneo ‘dar rata’ causando situações constrangedoras ou pelo menos engraçadas, na verdade ele nem percebe que o fez, geralmente é algum amigo que lhe conta.</p>

                    <p class="text-left">8. Volúvel: Do Latim, <em>volubile</em>, coisa que gira, volve ou muda de direção.</p>

                    <p class="text-left">A volubilidade do sanguíneo muitas vezes se dá por querer agradar a gregos e troianos. É difícil para ele simplesmente dizer não, pois usa o sim, como forma de aceitação e adequação e assim manter-se bem em seu grupo de coleguismo. No entanto, é comum para esse sujeito, perguntar para várias pessoas a opnião sobre alguma decisão que precise tomar, ou perguntar várias vezes para uma mesma pessoa o que deve fazer, para no final fazer o que estava com vontade desde o começo.</p>

                    <p class="text-left">O fato de ser crédulo confere um reforço a sua volubilidade, pois tem a tendência de colecionar crenças e dogmas e com isto, levanta um bom número de bandeiras para defender, ainda que algumas se contradigam.</p>

                    <p class="text-left">9. Destacado: Que se ressalta em meio ao grupo pertencente, fazendo-se perceptível em primeira estância a algum dos sentidos. BenQ</p>

                    <p class="text-left">Seja pelas cores vivas da roupa, pelo barulho que provoca ou por sua alegria contagiante ele se destaca da multidão. Gosta de anunciar a sua própria chegada, um som, um assobio, uma frase de efeito, mas nunca o silêncio, pois se tímido e calado, logo perguntamos se está bem.</p>

                    <p class="text-left">Ser notado facilmente não é em si bom ou ruim, dependerá da contribuição que a pessoa traz ao ambiente. Se é alguém que acrescenta ao grupo em que faz parte, com certeza nos alegraremos com a trombeta que anuncia a sua chegada, mas se o contrário for verdade, a trombeta pode parecer o anuncio do apocalipse.</p>
                </div>

            
            </div>
        </div>
    </section>
</main>

{% endblock %}
