{% extends "base.html" %}

<title> {% block title %}Totens, os animais de poder de Qael{% endblock %}</title>
        {% block title_meta %}Totens, os animais de poder de Qael{% endblock %}

{% block description %}O Animal de Poder é um arquétipo, ou manifestação simbólica, manifestação de Forças
Interiores que atua como Guia ou Mentor, uma energia, uma forma que representa nossa
personalidade ou comportamento (Espírito Animal
/ Totem). Eles aparecem para chancelar o que você está vivendo no momento, ou para alertarsobre
a mudança necessária que devemos realizar em nossas vidas.{% endblock %}

{% block keyword %} espirito animal, animal de poder, cachorro, gato, lobo, elefante, cervo, coruja, leão, serpente, tigre {% endblock %}

{% block content %}

    <main class="page">
        <section class="clean-block clean-form dark" style="background-color: rgba(172,112,201,0.14);margin-top: -20px;">
            <article class="container text-center">
                <div>
                    <h1 class="display-4" style="padding-top: 0px;"><br><strong>Totens</strong></h1>
                    <img alt="Imagem com alguns animais de poder, são eles o tigre, coruja, elefante, lobo e a serpente." src="{{ url_for('static', filename= "img/totens.jpg") }}"
                    style="width: 558px;">
                    
                    
                    <p class="text-left" data-aos="zoom-in-up" style="opacity: 1;"><br>&nbsp; &nbsp; O que é? E quando surgiu? A sociedade moderna possui? Esse é um assunto que se tornou muito relevante para o caminho Qæl.&nbsp;Vamos compreender um pouco o totemismo de forma geral e então entender o que isso significa
                        para nós, filhos de Qæl.<br>&nbsp;<br>&nbsp; &nbsp; O totem é uma construção simbólica muito antiga de diversas culturas em diversos lugares. As primeiras civilizações já possuíam o totemismo em suas crenças, alguns nativos brasileiros
                        que antecederam a invasão portuguesa possuíam totens. A Ayahuasca, como exemplo, há tempos é vista mais do que uma mera planta, e sim como um instrumento divino, uma bebida santa recebida de entidades superiores. Há relatos de
                        invasores portugueses que descrevem uma bebida em que os índios ao beberem-na perdiam a lucidez tendo visões e dizendo que viam Deus nas plantas. Se algum dia o homem em seu estado primitivo vivendo em cavernas olhou para o céu
                        chuvoso e adorou o relâmpago, ali tivemos uma relação totêmica.<br><br>&nbsp; &nbsp; Tais crenças naturalistas se fizeram tão fortes em algumas culturas que algumas tribos na Austrália dividiam seus clãs por animais sagrados e
                        não permitiam o casamento de pessoas do mesmo totem. Freud em seu trabalho ‘Totem e Tabu’ citatais tribos mostrando assim uma base social construída no totemismo. Nessa mesma obra ele conceitua o totemismo da seguinte forma: "
                        Ototemismo é uma instituição social-religiosa, alheia a sensibilidade atual, realmente há muito abandonada e substituída por novas formas, que deixou traços mínimos na religião, nos usos e costumes nos povos civilizados de hoje,
                        e que teve de sofrer grandes transformações, mesmos nos povos que ainda a mantém."<br><br>&nbsp; &nbsp; Porém, não devemos reduzir o conceito de totemismo apenas como animais e plantas sendo objetos de culto ou adoração de pequenas
                        tribos que à vista do homem moderno eram desprovidas de cultura e civilidade. Grandes nações tinham o totemismo incluído em suas crenças e ritos, ainda que o totem não fosse a base dessa<br>crença nem objeto de adoração, mesmo
                        porque o conceito de adoração não é absoluto. A relevância da definição de totemismo em uma cultura está na associação de imagens de animais ou plantas na crença desse grupo e não se essa imagem é adorada como um deus. <strong>A partir do momento que imagens da natureza são associadas de alguma forma ao sagrado temos aí uma simbolização totêmica.&nbsp;</strong>Todo
                        totem é um mensageiro, alguns são caracterizados assim de forma específica,&nbsp;como o beija-flor, mas todos o são.<br><br>&nbsp; &nbsp; A verdade do totem vai além de crendices de índios, como supõe boa parte da sociedade branca,
                        também não se resume em símbolos psicológicos e religiosos. A presença do totem na cultura da humanidade ao redor do globo e ao longo dos milênios nos diz que lá no fundo da mente humana há uma pequena percepção de que a vida consciente
                        não está presa à forma humana. Não foi Deus quem criou o homem à sua imagem e semelhança, foi o homem quem criou deus à sua imagem e semelhança, e diante dessa visão ególatra o ser humano se achou no direito de ser consumidor e
                        algoz da natureza para o seu bel prazer.<br><br>&nbsp; &nbsp; Ter um totem é mais do que possuir a imagem de um animal, símbolo de alguma qualidade a ser aprendida. O primeiro passo é entender que a nossa relação com os animais,
                        principalmente os domésticos, influenciam diretamente a nossa relação com os animais de poder, então, trate-os bem.<br><br>&nbsp; &nbsp; O totemismo oferece a descoberta de si mesmo, enriquecendo assim o autoconhecimento. Ele diz
                        quem você é em meio ao caminho e como você pode se melhorar. Estabelece uma comunicação espiritual, e mostra como ocorre o desenvolver das intervenções espirituais e as consequências das escolhas pessoais. Quanto maior for a intimidade
                        com o símbolo, melhor será a relação com o real.<br><br><em>&nbsp; &nbsp; </em><strong><em>O Animal de Poder é um</em></strong><em>&nbsp;</em><strong><em>arquétipo, ou&nbsp;manifestação simbólica, manifestação de Forças Interiores</em></strong><em>&nbsp;que atua&nbsp;como Guia ou Mentor, uma energia, uma forma que representa nossa personalidade&nbsp;ou comportamento (Espírito Animal / Totem). Eles aparecem para chancelar o que&nbsp;você está vivendo no momento, ou para alertarsobre a mudança necessária que&nbsp;devemos realizar em nossas vidas.</em><br><br>&nbsp;
                        &nbsp; Sã vinte e dois totens que descrevo aqui nesse trabalho, sendo seis animais de força, oito de sabedoria, cinco de força e sabedoria e três gerais.&nbsp;<br><br></p>
                    <h1 data-aos="zoom-in-up"><br><strong>Força</strong></h1>
                    <p class="text-left" data-aos="zoom-in-up">&nbsp; &nbsp; Nesse contexto a força se entende como uma disposição, uma vitalidade interior, mental que é refletida no corpo. Some o medo e indisposição, e o corpo se torna mais disposto, sem fraquezas. Com a mente e o físico fortalecidos,
                        as dificuldades do momento se tornam mais fáceis de serem resolvidas.<br></p>
                    <h1 data-aos="zoom-in-up"><strong>Sabedoria</strong></h1>
                    <p class="text-left" data-aos="zoom-in-up">&nbsp; &nbsp; Não se pode confundir com conhecimento. A sabedoria resulta na junção da intuição e inteligência. O sábio sabe porque sabe. Esses totens ajudarão ao desprovido de sabedoria em seus momentos de busca de respostas tanto
                        pessoais como gerais, mas somente se unirá àquele que busca uma razão maior em seu caminho, aquele que entendeu que seus dilemas são os mesmos da humanidade e que a sabedoria dada a ele deve servir de escada para o próximo.<br></p>
                    <h1
                        data-aos="zoom-in-up"><br><strong>Gerais</strong></h1>
                        <p class="text-left" data-aos="zoom-in-up">&nbsp; &nbsp; São totens que representam a jornada humana. Qrub e o Cordeiro podem totear grupos, como no caso de Qæl, a serpente representa um caminho a ser percorrido.<br></p>
                        <h1 data-aos="zoom-in-up"><br><strong>Observações</strong></h1>
                        <p class="text-left" data-aos="zoom-in-up">&nbsp; - Não é você que escolhe o totem, na verdade já existe a conexão entre a pessoa e o animal de poder, basta descobrir e entender a ligação.<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>&nbsp; - No plano espiritual os totens têm
                            forma um pouco diferente do animal correspondente aqui nesse plano, de maneira que o gato, a exemplo, se assemelha bastante com o seu totem correspondente, mas não é exatamente igual. Quando eu vi a coruja de certa forma eu
                            sabia que era ela, mas se eu me baseasse somente em sua aparência jamais a reconheceria.&nbsp;<br>&nbsp; &nbsp;&nbsp;<br>&nbsp;- Espíritos e demônios também possuem totens.<br><br>&nbsp;- Pode acontecer de você ter um totem,
                            mas ser ajudado por outro em alguma circunstância específica.<br><br></p>
                </div>
            </article>
            <div class="container" id="os_totens">
                <h1 data-aos="zoom-in-up" ><br>Clique no totem para saber mias sobre ele:&nbsp;<br><br></h1>
                <div class="row">
                    <div class="col-md-6 d-xl-flex justify-content-xl-center">
                        <ul class="text-left" data-aos="zoom-in-up">
                            <li><a href="\totem_aguia">Águia</a></li>
                            <li><a href="\totem_cavalo">Cavalo</a></li>
                            <li><a href="\totem_lobo">Lobo</a></li>
                            <li><a href="\totem_jaguar">Jaguar</a></li>
                            <li><a href="\totem_urso">Urso</a></li>
                            <li><a href="\totem_tigre">Tigre</a></li>
                            <li><a href="\totem_cachorro">Cachorro</a></li>
                            <li><a href="\totem_elefante">Elefante</a></li>
                            <li><a href="\totem_cervo">Cervo</a></li>
                            <li><a href="\totem_qrub">Qrub</a></li>
                            <li><a href="\totem_serpente">Serpente</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-xl-flex justify-content-xl-center">
                        <ul class="text-left" data-aos="zoom-in-up">
                            <li><a href="\totem_borboleta">Borboleta</a></li>
                            <li><a href="\totem_libelula">Libélula</a></li>
                            <li><a href="\totem_gato">Gato</a></li>
                            <li><a href="\totem_beijaflor">Beija-flor</a></li>
                            <li><a href="\totem_coruja">Coruja</a></li>
                            <li><a href="\totem_chimpanze">Chimpanzé</a></li>
                            <li><a href="\totem_coelho">Coelho</a></li>
                            <li><a href="\totem_abelha">Abelha</a></li>
                            <li><a href="\totem_golfinho">Golfinho</a></li>
                            <li><a href="\totem_cordeiro">Cordeiro</a></li>
                            <li><a href="\totem_mandril">Mandril</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}